{% extends "common/base.j2" %}
{% block body_content %}
<title>{% trans %}Taler Systems SA - Home{% endtrans %}</title>
<main id="maincontent">
<div class="banner_sec">
	<div class="banner_box">
		<div class="container">
			<div class="row">
				<div class="col-sm-7">
					<div class="ban_left">
                        <h3>{% trans %}WELCOME TO <span>TALER{% endtrans %}</span></h3>
                            <h1>{% trans %}The payment system for tomorrow: Frictionless, sustainable, low-cost and highly scalable.{% endtrans %}</h1>
                            <p>{% trans %}It’s like cash but digital, with instant confirmation for all fiat- and crypto-currencies.{% endtrans %}
                            <br>{% trans %}And Taler protects your data, while being environmentally friendly.{% endtrans %}</p>
                                <a href="https://demo.taler.net/{{ url_localized('') }}" class="demo_btn" target="_blank" rel="noopener noreferrer">{% trans %}See a demo{% endtrans %}</a>
						<ul>
							<!-- Browser Icons -->
							<li><img src="{{ url_static('images/banicon-tux.png') }}" alt="Linux"></li>
							<li><img src="{{ url_static('images/banicon-droid.png') }}" alt="Android"></li>
							<li><img src="{{ url_static('images/banicon-mac.png') }}" alt="MacOS"></li>
							<li><img src="{{ url_static('images/banicon-ios.png') }}" alt="iOS"></li>
							<li><img src="{{ url_static('images/banicon-win.png') }}" alt="Windows"></li>
							<li><img src="{{ url_static('images/banicon-ff.png') }}" alt="Firefox"></li>
							<li><img src="{{ url_static('images/banicon-chr.png') }}" alt="Chrome"></li>
							<li><img src="{{ url_static('images/banicon-br.png') }}" alt="Brave"></li>
							<li><img src="{{ url_static('images/banicon-edg.png') }}" alt="Edge"></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-5">
					<div class="ban_rt">
						<img src="{{ url_static('images/mobils1.png') }}" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="digital_sec">
	<div class="container">
		<div class="top_heading">
            <h2>{% trans %}The right platform for any use case:{% endtrans %}</h2>
		</div>
		<div class="digital_innr">
			<div class="desk d-md-block d-sm-none d-none">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="digital_box">
							<img src="{{ url_static('images/topicon1.png') }}" alt="">
							<b>{% trans %}Electronic<br> Cash{% endtrans %}</b>
							<a href="{{ url_localized('electronic-cash.html') }}" class="lrean_btn">{% trans %}Learn More{% endtrans %}</a>
						</div>
					</div>
					<div class="col-lg-4 col-md-4">
						<div class="digital_box">
							<img src="{{ url_static('images/topicon2.png') }}" alt="">
							<b>{% trans %}Asset<br> Tokenization{% endtrans %}</b>
							<a href="{{ url_localized('tokenization.html') }}" class="lrean_btn">{% trans %}Learn More{% endtrans %}</a>
						</div>
					</div>
					<div class="col-lg-4 col-md-4">
						<div class="digital_box">
							<img src="{{ url_static('images/topicon3.png') }}" alt="">
							<b>{% trans %}Central Bank<br> Digital Currency{% endtrans %}</b>
							<a href="{{ url_localized('digital-currency.html') }}" class="lrean_btn">{% trans %}Learn More{% endtrans %}</a>
						</div>
					</div>
				</div>
			</div>
			<div class="desk d-md-none d-sm-block d-block">
				<div class="momelecte owl-carousel">
                    <div class="item">
						<div class="digital_box">
							<img src="assets/images/topicon1.png" alt="" />
							<b>{% trans %}Electronic<br> Cash{% endtrans %}</b>
							<a href="{{ url_localized('electronic-cash.html') }}" class="lrean_btn">{% trans %}Learn More{% endtrans %}</a>
						</div>
					</div>
					<div class="item">
						<div class="digital_box">
							<img src="assets/images/topicon2.png" alt="" />
							<b>{% trans %}Asset<br> Tokenization{% endtrans %}</b>
							<a href="{{ url_localized('tokenization.html') }}" class="lrean_btn">{% trans %}Learn More{% endtrans %}</a>
						</div>
					</div>
					<div class="item">
						<div class="digital_box">
							<img src="assets/images/topicon3.png" alt="" />
							<b>{% trans %}Central Bank<br> Digital Currency{% endtrans %}</b>
							<a href="{{ url_localized('digital-currency.html') }}" class="lrean_btn">{% trans %}Learn More{% endtrans %}</a>
						</div>
					</div>
				</div>
			</div>
			<div class="provide_sec">
				<h3>{% trans %}We provide an open and free, white-label solution that is adaptable and highly secure.{% endtrans %}</h3>
				<ul>
					<li>{% trans %}Instant{% endtrans %}</li>
					<li>{% trans %}No fraud{% endtrans %}</li>
					<li>{% trans %}Privacy by design{% endtrans %}</li>
					<li>{% trans %}Auditable{% endtrans %}</li>
					<li>{% trans %}Data minimization{% endtrans %}</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="mid_sec">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div class="mid_text">
					<h2>{% trans %}The easy way to paying<br>with <span>Taler</span>{% endtrans %}</h2>
					<p>{% trans %}To pay with Taler, customers install an electronic wallet on their device. Before the first payment, the desired currency must be added to the wallet's balance by some other means of payment.{% endtrans %}</p>
					<p>{% trans %}Once the wallet is charged, payments on websites take only one click, are never falsely rejected by fraud detection and do not pose any risk of phishing or identity theft.{% endtrans %}</p>
					<a href="https://demo.taler.net/{{ url_localized('') }}" target="_blank" rel="noopener noreferrer"><span>{% trans %}Try our interactive demo!{% endtrans %}</span></a>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="mid_img">
					<img src="{{ url_static('images/mobpic1.png') }}" alt="">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="mid_text">
					<h2>{% trans %}Receiving payments<br>with <span>Taler</span>{% endtrans %}</h2>
					<p>{% trans %}To receive Taler payments, a merchant needs a bank account in the desired currency. We provide supporting software in various programming languages to make the integration painless. The merchant's backend for Taler transaction processing can run on the merchant's premises or be hosted by a third party.{% endtrans %}</p>
					<p>{% trans %}Merchant integration is simple, and customers can pay for products without even having to register an account.{% endtrans %}</p>
					<a href="https://taler.net/{{ url_localized('features.html') }}" target="_blank" rel="noopener noreferrer"><span>{% trans %}See how merchant integration works{% endtrans %}</span></a>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="mid_img">
					<img src="{{ url_static('images/mobpic2.png') }}" alt="">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="mid_text">
					<h2>{% trans %}Protect the privacy<br>of buyers{% endtrans %}</h2>
					<p>{% trans %}Privacy is most meaningful when it is guaranteed via technical measures, as opposed to mere policies. Without a technical layer providing privacy-by-default, financial transactions reveal unnecessary levels of personal or private data.{% endtrans %}</p>
					<ul>
						<li>{% trans %}Based on Free Software and a free protocol{% endtrans %}</li>
						<li>{% trans %}Works with blind signatures{% endtrans %}</li>
					</ul>
					<a href="https://taler.net/{{ url_localized('index.html') }}" target="_blank" rel="noopener noreferrer"><span>{% trans %}Learn more about us{% endtrans %}</span></a>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="mid_img">
					<img src="{{ url_static('images/mobpic3.png') }}" alt="">
				</div>
			</div>
		</div>
	</div>
</section>

<section class="client_sec">
	<div class="container">
		<div class="top_heading">
			<h2>{% trans %}What makes Taler unique?{% endtrans %}</h2>
			<div class="row custmrUnique">
				<div class="col-md-3 col-sm-6">
					<div class="uniquebox">
						<i><img src="{{ url_static('images/nicon1.png') }}" alt=""></i>
						<h4>{% trans %}Practical{% endtrans %}</h4>
						<p>{% trans %}Taler uses a digital wallet storing coins and payment service providers with escrow accounts in existing currencies.{% endtrans %}</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="uniquebox">
						<i><img src="{{ url_static('images/nicon2.png') }}" alt=""></i>
						<h4>{% trans %}Efficient{% endtrans %}</h4>
						<p>{% trans %}Payments are cryptographically secured and are confirmed within milliseconds with extremely low transaction costs.{% endtrans %}</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="uniquebox">
						<i><img src="{{ url_static('images/nicon3.png') }}" alt=""></i>
						<h4>{% trans %}Secure{% endtrans %}</h4>
						<p>{% trans %}By design Taler does not suffer from many classes of security problems such as phishing or counterfeiting.{% endtrans %}</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="uniquebox">
						<i><img src="{{ url_static('images/nicon4.png') }}" alt=""></i>
						<h4>{% trans %}Micropayments{% endtrans %}</h4>
						<p>{% trans %}Our solutions enable new online business models based on micro transactions because of efficient algorithms and minimization of data.{% endtrans %}</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="uniquebox">
						<i><img src="{{ url_static('images/nicon5.png') }}" alt=""></i>
						<h4>{% trans %}Taxable{% endtrans %}</h4>
						<p>{% trans %}When using Taler, merchant's revenue is transparent for tax collection authorities. Unlike cash and most digital currencies.{% endtrans %}</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="uniquebox">
						<i><img src="{{ url_static('images/nicon6.png') }}" alt=""></i>
						<h4>{% trans %}Private{% endtrans %}</h4>
						<p>{% trans %}When you pay with Taler, your identity does not have to be revealed. However, you obtain a legally valid proof of payment.{% endtrans %}</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="uniquebox">
						<i><img src="{{ url_static('images/nicon7.png') }}" alt=""></i>
						<h4>{% trans %}Libre{% endtrans %}</h4>
						<p>{% trans %}Taler provides protocols and reference implementations that in principle enable anybody to run their own payment system.{% endtrans %}</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="uniquebox">
						<i><img src="{{ url_static('images/nicon8.png') }}" alt=""></i>
						<h4>{% trans %}Instant{% endtrans %}</h4>
						<p>{% trans %}Taler wallets instantly confirm successful payments and immediately provide customers with receipts as proof of purchase.{% endtrans %}</p>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>
<section class="maketlr_sec">
	<div class="container">
		<div class="top_heading">
			<h2>{% trans %}What citizens are saying{% endtrans %}</h2>
		</div>
        <div class="customrcaro owl-carousel">
            <div class="item">
				<div class="customrbox">
					<p>{% trans %}“If there will be a digital Euro .. I want it based on GNU Open Source ... go @taler”{% endtrans %}</p>
					<div class="media">
						<img src="{{ url_static('images/usrpic1.jpg') }}" alt="">
						<div class="media-body">
							<h4>@rootzoll</h4>
							<strong><a href="https://twitter.com/rootzoll/status/1364856538880442368" target="_blank" rel="noopener noreferrer">twitter.com/rootzoll/status/1364856538880442368</a></strong>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="customrbox">
					<p>{% trans %}“The program works perfectly for us blind people; absolutely no
accessibility issues, and I'm counting everything here.”{% endtrans %}</p>
					<div class="media">
						<img src="{{ url_static('images/usrpic3.jpg') }}" alt="">
						<div class="media-body">
							<h4>Tyler Zahnke</h4>
							<strong>demo-feedback@taler.net</strong>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="customrbox">
					<p>{% trans %}“In my opinion, for those of us who aren't anti-government, Taler represents an ethical future of digital spending."{% endtrans %}</p>
					<div class="media">
						<img src="{{ url_static('images/usrpic2.jpg') }}" alt="">
						<div class="media-body">
							<h4>helen__keller</h4>
							<strong><a href="https://news.ycombinator.com/item?id=26263214" target="_blank" rel="noopener noreferrer">news.ycombinator.com/item?id=26263214</a></strong>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="customrbox">
					<p>{% trans %}“It does make me feel good to see a GNU project like this out there - at the core of the free world IMO, the bits of glue which get our society running, it should really be all open-source and open licenses.”{% endtrans %}</p>
					<div class="media">
						<img src="{{ url_static('images/usrpic4.jpg') }}" alt="">
						<div class="media-body">
							<h4>XorNot</h4>
							<strong><a href="https://news.ycombinator.com/item?id=26262507" target="_blank" rel="noopener noreferrer">news.ycombinator.com/item?id=26262507</a></strong>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="customrbox">
					<p>{% trans %}“Wird das Konzept von GNU-Taler 1:1 Umgesetzt bedeutet das anonymes zahlen und sehr geringe Währungsschwankungen da es an die lokale Währung angebunden ist.”{% endtrans %}</p>
					<div class="media">
						<img src="{{ url_static('images/usrpic1.jpg') }}" alt="">
						<div class="media-body">
							<h4>Ravenbird</h4>
							<strong><a href="https://www.heise.de/forum/heise-online/Kommentare/Vorschlag-aus-der-Schweiz-Digitales-Zentralbankgeld-mit-GNU-Taler/Ein-guter-Ansatz-wenn-das-Konzept-von-GNU-Taler-1-1-umgesetzt-wird/posting-38438729/show/" target="_blank" rel="noopener noreferrer">{% trans %}Quote on heise.de{% endtrans %}</a></strong>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="customrbox">
					<p>{% trans %}“Taler seems to be great for privacy and society (ensuring income is taxable). Governments can't see how you spend your money, but they can see who receives payments. Bitcoin and others will never succeed because they are too friendly towards illicit behaviour. Taler seems to strike a genuinely interesting and ethical balance here.”{% endtrans %}</p>
					<div class="media">
						<img src="{{ url_static('images/usrpic3.jpg') }}" alt="">
						<div class="media-body">
							<h4>room271</h4>
							<strong><a href="https://news.ycombinator.com/item?id=10261787" target="_blank" rel="noopener noreferrer">news.ycombinator.com/item?id=10261787</a></strong>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="customrbox">
					<p>{% trans %}“This is the most political open source project I've seen in a while. I love the idea that it's designed to sit inside a progressive society where we all agree we have a social contract to the state. That is very different to a lot of similar efforts, and at the very least it's an important part of the discussion."{% endtrans %}</p>
					<div class="media">
						<img src="{{ url_static('images/usrpic2.jpg') }}" alt="">
						<div class="media-body">
							<h4>benwerd</h4>
							<strong><a href="https://news.ycombinator.com/item?id=10262575" target="_blank" rel="noopener noreferrer">news.ycombinator.com/item?id=10262575</a></strong>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="customrbox">
					<p>{% trans %}“Die SNB plant keinen e-Franken/CBDC, aber ein System basierend auf der Technik von Taler überzeugt durchaus”{% endtrans %}</p>
					<div class="media">
						<img src="{{ url_static('images/usrpic4.jpg') }}" alt="">
						<div class="media-body">
							<h4>Thomas Moser, Schweizer Nationalbank SNB</h4>
							<strong><a href="https://www.bfh.ch/de/aktuell/medienmitteilungen/2020/die-technik-von-taler-ueberzeugt/" target="_blank" rel="noopener noreferrer">www.bfh.ch/de/aktuell/medienmitteilungen/2020/die-technik-von-taler-ueberzeugt</a></strong>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="customrbox">
					<p>{% trans %}“Man kann ein Bezahlsystem bauen, das die Privatsphäre des Käufers schützt, aber auf Händlerseite Betrug verhindert, und das sich für Spekulationen nicht eignet.”{% endtrans %}</p>
					<div class="media">
						<img src="{{ url_static('images/usrpic1.jpg') }}" alt="">
						<div class="media-body">
							<h4>Felix von Leitner</h4>
							<strong><a href="https://blog.fefe.de/?ts=9ec9f68d" target="_blank" rel="noopener noreferrer">blog.fefe.de/?ts=9ec9f68d</a></strong>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="customrbox">
					<p>{% trans %}“E-Franken auf Open-Source-Basis? @taler klingt für mich sympathisch. #eCash #Digitalisierung”{% endtrans %}</p>
					<div class="media">
						<img src="{{ url_static('images/usrpic3.jpg') }}" alt="">
						<div class="media-body">
							<h4>Thomas Elminger</h4>
							<strong><a href="https://twitter.com/telmiger/status/1364706167847587840" target="_blank" rel="noopener noreferrer">twitter.com/telmiger/status/1364706167847587840</a></strong>
						</div>
					</div>
				</div>
            </div>
			<div class="item">
				<div class="customrbox">
					<p>{% trans %}“Anonymität wie beim Bargeld. <!-- Vereinfacht beschrieben geht das so. Du gibst deiner Bank einen Euro und erhältst dafür einen Taler. Damit kaufst du dir ein Brötchen beim Bäcker. Der Bäcker geht zur Bank und tauscht den Taler gegen einen Euro um. Soweit der Ablauf. -->[...] Das Entscheidende ist nun, dass durch kryptografische Protokolle (<a href="https://en.wikipedia.org/wiki/DigiCash" target="_blank" rel="noopener noreferrer">DigiCash</a>) sichergestellt wird, dass die Bank nicht wissen kann wofür und ob du deinen Taler ausgegeben hast. Dadurch wird deine Privatsphäre gegenüber der Bank oder Zwischenhändlern wie Google, Apple, Visa, Mastercard etc. gewahrt.”{% endtrans %}</p>
					<div class="media">
						<img src="{{ url_static('images/usrpic2.jpg') }}" alt="">
						<div class="media-body">
							<h4>klexomat3000</h4>
							<strong><a href="https://www.reddit.com/r/de/comments/ls2uh4/vorschlag_aus_der_schweiz_digitales/" target="_blank" rel="noopener noreferrer">{% trans %}Quote on reddit.com/r/de{% endtrans %}</a></strong>
						</div>
					</div>
				</div>
            </div>
			<div class="item">
				<div class="customrbox">
					<p>{% trans %}“Das [...] dargelegte Modell eines digitalen Zentralbankgeldes für jedermann scheint mir das interessanteste bisher vorgelegte Rezept. Näher zum physischen Bargeld kommt man kaum noch.”{% endtrans %}</p>
					<div class="media">
						<img src="{{ url_static('images/usrpic4.jpg') }}" alt="">
						<div class="media-body">
							<h4>Urs Birchler</h4>
							<strong><a href="https://www.batz.ch/2021/03/digitales-bargeld-swiss-made/" target="_blank" rel="noopener noreferrer">BATZ.ch</a></strong>
						</div>
					</div>
				</div>
            </div>
			<div class="item">
				<div class="customrbox">
					<p>{% trans %}"Ihr großer Dienst an der Gesellschaft besteht darin, dass sie zeigen, was in Sachen Anonymität von Zahlungen und gleichzeitiger Sicherung gegen Geldwäsche möglich ist, wenn man nur will.
<!-- Das Problem, dass eine opportunistische Zentralbank solche Möglichkeiten später auch wieder einkassieren kann, wenn das Bargeld einmal abgeschafft ist, können sie allerdings auch nicht lösen helfen. Hier müssten die Zentralbanken schon unser Vertrauen gewinnen und verdienen, dass es nicht ihr Ziel ist, finanzielle Privatsphäre zu beseitigen und hohe Negativzinsen für alle möglich zu machen.-->"{% endtrans %}</p>
					<div class="media">
						<img src="{{ url_static('images/usrpic1.jpg') }}" alt="">
						<div class="media-body">
							<h4>Norbert Häring</h4>
							<strong><a href="https://norberthaering.de" target="_blank" rel="noopener noreferrer">norberthaering.de</a></strong>
						</div>
					</div>
				</div>
            </div>
        </div>
    </div>
</section>

<section class="makingcashsec">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
			</div>
			<div class="col-sm-6">
				<div class="mid_text">
					<h2>{% trans %}Making cash digital and<br>privacy-preserving{% endtrans %}</h2>
					<p>{% trans %}Our vision is to establish a new payment standard with built-in security, privacy and data minimization by design.{% endtrans %}</p>
					<ul>
						<li>{% trans %}Enable new online business models based on micro transactions.{% endtrans %}</li>
						<li>{% trans %}Foster informational self-determination in e-commerce and m-commerce.{% endtrans %}</li>
						<li>{% trans %}Establish efficient payment standard with security, privacy, and data minimization by design.{% endtrans %}</li>
					</ul>
					<a href="https://demo.taler.net/{{ url_localized('') }}" class="blubtn" target="_blank" rel="noopener noreferrer">{% trans %}See a demo!{% endtrans %}</a>
				</div>
			</div>
		</div>
	</div>
	<div class="mid_img">
		<img src="{{ url_static('images/mob.jpg') }}" alt="">
	</div>
</section>
<section class="bluetalersec top_heading">
	<div class="container">
		<div class="row">
			<div class="col-sm-9">
				<div class="mid_text">
				<h3>{% trans %}Taler is a transaction system that is fast, secure, socially responsible and environmentally sustainable.{% endtrans %}</h3>
				<a href="https://taler.net/{{ url_localized('index.html') }}" class="blubtn" target="_blank" rel="noopener noreferrer">{% trans %}More insights{% endtrans %}</a>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock body_content %}
