{% extends "common/base.j2" %}
{% block body_content %}
<title>{% trans %}Taler Systems SA - Tokenization{% endtrans %}</title>
<main id="maincontent">
<div class="banner_sec innerbanner">
	<div class="banner_box">
		<div class="container">
			<div class="row">
				<div class="col-sm-7">
					<div class="ban_left">
                        <h3>{% trans %}WELCOME TO <span>TOKENIZATION{% endtrans %}</span></h3>
                            <h1>{% trans %}Taler Tokenization <br/>Goes Further Than <br/>Digital Cash{% endtrans %}</h1>
                            <p>{% trans %}Taler uses a digital wallet storing coins and payment service<br/> providers with escrow accounts in existing currencies.{% endtrans %}</p>
                                <a href="https://demo.taler.net/{{ url_localized('') }}" class="demo_btn" target="_blank" rel="noopener noreferrer">{% trans %}See a demo{% endtrans %}</a>
						<ul>
							<li><img src="{{ url_static('images/banicon-tux.png') }}" alt="Linux"></li>
							<li><img src="{{ url_static('images/banicon-droid.png') }}" alt="Android"></li>
							<li><img src="{{ url_static('images/banicon-mac.png') }}" alt="MacOS"></li>
							<li><img src="{{ url_static('images/banicon-ios.png') }}" alt="iOS"></li>
							<li><img src="{{ url_static('images/banicon-win.png') }}" alt="Windows"></li>
							<li><img src="{{ url_static('images/banicon-ff.png') }}" alt="Firefox"></li>
							<li><img src="{{ url_static('images/banicon-chr.png') }}" alt="Chrome"></li>
							<li><img src="{{ url_static('images/banicon-br.png') }}" alt="Brave"></li>
							<li><img src="{{ url_static('images/banicon-edg.png') }}" alt="Edge"></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-5">
					<div class="ban_rt">
						<img src="{{ url_static('images/mob3.png') }}" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="digital_sec assetsSec">
	<div class="container">
		<div class="top_heading">
			<h2>{% trans %}Taler can efficiently transact <br/>other assets{% endtrans %}</h2>
            <p>{% trans %}The Taler system is designed for the tokenization of any asset. It can issue secure tokens that <br/> digitally represent a real tradable asset - in many ways similar to the traditional process <br/>
of securitization but fully electronic. The tokenization offers the potential for a world in which <br/> transactions in assets can be handled more efficiently and with much less friction.{% endtrans %}</p>
		</div>
		<div class="digital_innr">
			<div class="desk d-md-block d-sm-none d-none">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="digital_box">
							<img src="{{ url_static('images/icon9.png') }}" alt="">
							<b>{% trans %}Tangible Assets{% endtrans %}</b>
							<p>{% trans %}Banks and central banks can issue digital tokens to represent fiat- or crypto-currency holdings{% endtrans %}</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-4">
						<div class="digital_box">
							<img src="{{ url_static('images/icon21.png') }}" alt="">
							<b>{% trans %}Securities{% endtrans %}</b>
							<p>{% trans %}Enterprises can issue digital tokens to represent ownership of stocks, index funds or securities{% endtrans %}</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-4">
						<div class="digital_box">
							<img src="{{ url_static('images/icon11.png') }}" alt="">
							<b>{% trans %}Rewards{% endtrans %}</b>
							<p>{% trans %}Companies can issue digital tokens for rewards programs, like airline miles or loyalty points{% endtrans %}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="desk d-md-none d-sm-block d-block">
				<div class="momelecte owl-carousel">
					<div class="item">
						<div class="digital_box">
							<img src="{{ url_static('images/icon9.png') }}" alt="">
							<b>{% trans %}Tangible Assets{% endtrans %}</b>
							<p>{% trans %}Banks and central banks can issue digital tokens to represent fiat- or crypto-currency holdings{% endtrans %}</p>
						</div>
					</div>
					<div class="item">
						<div class="digital_box">
							<img src="{{ url_static('images/icon10.png') }}" alt="">
							<b>{% trans %}Securities{% endtrans %}</b>
							<p>{% trans %}Enterprises can issue digital tokens to represent ownership of stocks, index funds or securities{% endtrans %}</p>
						</div>
					</div>
					<div class="item">
						<div class="digital_box">
							<img src="{{ url_static('images/icon11.png') }}" alt="">
							<b>{% trans %}Rewards{% endtrans %}</b>
							<p>{% trans %}Companies can issue digital tokens for rewards programs, like airline miles or loyalty points{% endtrans %}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="mid_sec mid_SecPanel">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div class="mid_text">
					<h2>{% trans %}Tokenization Technology with <span>Taler</span>{% endtrans %}</h2>
					<p>{% trans %}Digital tokens provide a wide range of advantages over account-based systems:{% endtrans %}</p>
					<ul>
						<li>{% trans %}Instant and efficient transactions{% endtrans %}</li>
						<li>{% trans %}Direct relationship between issuer and bearer{% endtrans %}</li>
                                                <li>{% trans %}Provable ownership rights with owner holding tokens{% endtrans %}</li>
                                                <li>{% trans %}No reliance on ledger operator{% endtrans %}</li>
					</ul>
					<a href="https://demo.taler.net/{{ url_localized('') }}" target="_blank" rel="noopener noreferrer">{% trans %}<span>Try it yourself with the interactive demo!</span>{% endtrans %}</a>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="mid_img">
					<img src="{{ url_static('images/mobs4.png') }}" alt="">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="mid_text">
					<h2>{% trans %}Disintermediation{% endtrans %}</h2>
					<p>{% trans %}In today’s world, many assets are stored and transferred within account-based systems. For instance, bank deposits are a claim on the respective commercial bank. Should the bank go bankrupt, the depositor might lose his or her money.{% endtrans %}</p>
					<p>{% trans %}In contrast, tokens in token-based systems like Taler are backed by their issuer. Taler's cryptographically secured settlement with the issuer avoids risks arising from contemporary intermediaries. Additionally, transactions become instant and more efficient since no authentication is required and costly intermediaries are eliminated.{% endtrans %}</p>
                    <p>{% trans %}Trust can be established via independent external auditors without exposing private consumer data to auditors.{% endtrans %}</p>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="mid_img">
					<img src="{{ url_static('images/mobs5.png') }}" alt="">
				</div>
			</div>
		</div>
	</div>
</section>

<section class="advantagevalueBox">
	<div class="container">
		<div class="innadvvaluebox">
			<h2>{% trans %}Advantages of a value-based infrastructure{% endtrans %}</h2>
			<p>{% trans %}Taler is a value- or token-based system which means that the transfer occurs by granting control over the token itself, similar to paying cash with handing over of banknotes. Hence, there is no need to record ownership like in an account-based system, because possessing the token is sufficient. The tokens carry information about their value and the issuer of the token.{% endtrans %}</p>
		</div>
		<div class="valueBoxes">
			<div class="row">
				<div class="col-sm-6">
					<div class="valueBox">
						<img src="{{ url_static('images/valuepic3.jpg') }}" alt="">
						<div class="valuetxt">
							<h4>{% trans %}Ledger-based infrastructure{% endtrans %}</h4>
							<p>{% trans %}Distributed ledger technologies (DLTs) create more problems than they solve for a payment system:{% endtrans %}</p>
                        <ul>
						<li>{% trans %}Limited privacy as activities are linkable via the accounts involved{% endtrans %}</li>
						<li>{% trans %}Expensive consensus mechanism limits scalability and contributes to pollution{% endtrans %}</li>
						<li>{% trans %}Slow and disintermediated transactions enable criminal abuse{% endtrans %}</li>
					</ul>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="valueBox">
						<img src="{{ url_static('images/valuepic2.jpg') }}" alt="">
						<div class="valuetxt">
							<h4>{% trans %}&nbsp;&nbsp;Value-based infrastructure{% endtrans %}</h4>
							<p>{% trans %}&nbsp;&nbsp;Valuable digital tokens, like physical cash, are more suitable for payments:{% endtrans %}</p>
                        <ul>
						<li>{% trans %}Tokens carry no history, which is necessary for privacy{% endtrans %}</li>
						<li>{% trans %}Tokens can be issued and redeemed efficiently using inexpensive cryptography{% endtrans %}</li>
						<li>{% trans %}Tokens can be signed by regulated and trusted financial institutions, creating a stable medium of exchange{% endtrans %}</li>
						</ul>
						</div>
					</div>
				</div>
			</div>
			<span class="vs"><img src="{{ url_static('images/vs.png') }}" alt=""></span>
		</div>
	</div>
</section>

<section class="bluetalersec top_heading">
	<div class="container">
		<div class="row">
			<div class="col-sm-9">
				<div class="mid_text">
				<h3>{% trans %}A tokenization system which scales massively and that can disintermediate many industries.{% endtrans %}</h3>
				<a href="https://taler.net/{{ url_localized('index.html') }}" class="blubtn" target="_blank" rel="noopener noreferrer">{% trans %}Get started now{% endtrans %}</a>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock body_content %}
