body{ padding: 0px; margin: 0px; list-style: none; font: normal 14px/18px 'BasierCircle-Regular'; color:#000; background: #fff; }
p{padding: 0px; margin: 0px;}
a{padding: 0px; margin: 0px; outline: none;}
ul{ list-style: none; padding: 0px; margin: 0px;}
label{ list-style: none; padding: 0px; margin: 0px;}
ul li{ padding: 0px; margin: 0px;}
h1, h2, h3, h4, h5, h6{padding: 0px; margin: 0px;}
input[type="text"]::-webkit-placeholder { opacity: 1;  }
input[type="text"]::-moz-placeholder { opacity: 1;}
input[type="password"]::-webkit-placeholder { opacity: 1;}
input[type="password"]::-moz-placeholder { opacity: 1;}
input[type="search"]::-webkit-placeholder { opacity: 1;}
input[type="search"]::-moz-placeholder { opacity: 1;}
input[type="email"]::-webkit-placeholder { opacity: 1; }
input[type="email"]::-moz-placeholder { opacity: 1;}
input[type="tel"]::-webkit-placeholder { opacity: 1;}
input[type="tel"]::-moz-placeholder { opacity: 1;}
textarea::-moz-placeholder { opacity: 1;  }
textarea::-webkit-placeholder { opacity: 1;}
a:hover{ outline: none !important; text-decoration: none;}
a:active{ outline: none !important; text-decoration: none;}
a{ text-decoration: none !important;}
input[type="submit"]{cursor: pointer;}


/*font-family: 'Roboto', sans-serif;
 font-family: 'BasierCircle-Bold';
 font-family: 'BasierCircle-Medium';
 font-family: 'BasierCircle-Regular';
 font-family: 'BasierCircle-SemiBold';
 font-family: 'SFUIDisplay-Bold';*/

.skip
{
position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;
}

.skip:focus
{
position:static;
width:auto;
height:auto;
background: white;
padding: 5px;
}

.container{ max-width: 1280px; }

.header_sec { width: 100%; position: relative; padding: 10px 0; }

.nav_top .navbar-brand{ padding: 0px; margin: 0px; }
.nav_top .navbar-brand img{ max-width: 100%; }
.nav_top{padding: 0px; margin: 0px; background: none !important; }
.menu_sec{ padding: 0 180px 0 0; margin: 0; }
.menu_sec li{ font: normal 16px/20px 'BasierCircle-Regular'; margin: 0 0 0 32px; color:#596876; text-transform: capitalize; text-align: center;  padding: 0; }
.menu_sec li a{ color: #596876; padding: 12px 0; display: inline-block; position: relative;
-moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.menu_sec li:first-child{ margin-left: 0px; }
.menu_sec li.actv a{ color:#0042b2; font-family: 'BasierCircle-Bold'; }
.menu_sec li.actv .drop-arw i{color:#0042b2; }
.menu_sec li a:hover{color:#0042b2; }
.menu_sec li:hover a{color:#0042b2; }
.menu_sec li:last-child{ padding-right: 0px; }
.menu_sec li:hover .drop-arw i{color:#0042b2; }

.header_sec a.sign_btn{ width: 130px; height: 45px; background: url(../images/sign.png) no-repeat left 25px center #0042b2; border-radius: 30px; position: absolute; right: 0px; top: 6px; 
font: normal 16px/45px 'BasierCircle-Bold'; color:#fff; padding-left: 52px;
-moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
.header_sec a.sign_btn:hover{ background: url(../images/sign.png) no-repeat left 25px center #000;}

.nav_top .dropdown .dropdown-menu li{ margin: 0px !important; text-align: left; border-bottom: 1px solid rgba(0,0,0,0.08); font-size: 15px; padding: 0px; }
.nav_top .dropdown .dropdown-menu li a{ width: 100%; padding: 12px !important; color: #596876; -webkit-transition: all .3s linear;
transition: all .3s linear;}
.nav_top .dropdown .dropdown-menu{ background: #fff; border: none !important; border-radius: 0px; text-align: left;}
.nav_top .dropdown .dropdown-menu li a:before{ display: none !important;}
.nav_top .dropdown .dropdown-menu li a:hover{ background: #f7f9fe; color:#0042b2; padding-left: 25px !important; }
.nav_top .dropdown .dropdown-menu li:last-child{ border: none; }
.nav_top .dropdown .dropdown-menu li a::after {
    font-size: 24px;
    line-height: 9px;
    content: "";
    margin-right: 5px;
    position: absolute;
    width: 6px;
    height: 2px;
    opacity: 0;
    left: 0px;
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
    transition: .5s all;
    background-color: #0042b2;
    top: 22px;
}
.nav_top .dropdown .dropdown-menu li a:hover::after {
    opacity: 1;
    left: 10px;
}
.nav_top .dropdown-toggle::after{display: none;}

.banner_sec{ width: 100%; position: relative; background: #fff; }
.banner_box{ width: 100%; position: relative; padding-bottom: 12px; }
.ban_left{ width: 100%; display: inline-block; padding-top: 80px; position: relative; z-index: 9; }
.ban_left h3{ font: normal 26px/30px 'BasierCircle-Regular'; color:#000; text-transform: uppercase; }
.ban_left h3 span{ color:#0042b2; }
.ban_left h1{ font: normal 56px/60px 'BasierCircle-SemiBold'; color:#000; padding-top: 10px; }
.ban_left ul{ width: 100%; display: inline-block; padding: 10px 0 0; }
.ban_left ul li{ float: left;  margin: 10px 10px 0 0; }
.ban_left ul li:last-child{ margin-right: 0px; }
.ban_left ul li img{max-width: 100%; }
.ban_left a.demo_btn{ width: 200px; height: 55px; background: #0042b2; text-align: center; font: normal 20px/55px 'BasierCircle-Bold'; text-decoration: none; color:#fff; display: inline-block; 
margin-top: 25px; border-radius: 30px; 
-moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;}
.ban_left a.demo_btn:hover{ background: #000; }

.ban_rt{ width: 100%; display: inline-block; text-align: center; position: relative; padding-top: 50px; }
.ban_rt img{ max-width: 100%; position: relative;  }
.ban_rt:before{ width: 650px; height: 650px; border-radius: 100%; background: #e1e8f3; border-radius: 100%; position: absolute; left: 50%; top: 0px; margin-left: -325px; content: ""; }

.digital_sec{ width: 100%; position: relative; padding: 90px 0 50px 0; }
.digital_sec:before{ width: 100%; height: 217px; background: url(../images/topbg.png) no-repeat 0 0; background-size:100% 100%; position: absolute; left: 0; top: -212px; content: ""; }
.digital_sec:after{ width: 100%; height: 405px; background: #0042b2; position: absolute; left: 0; top: 0; content: ""; }

.top_heading{ width: 100%; text-align: center; display: inline-block; position: relative; z-index: 9; }
.top_heading h1, .top_heading h2, .top_heading h3{ font: normal 50px/56px 'BasierCircle-SemiBold'; color:#000; }
.digital_sec .top_heading h2{ color:#fff; }
.digital_innr{ width: 100%; display: inline-block; position: relative; z-index: 99; padding: 40px 120px 0; }
.digital_box{ width: 100%; display: inline-block; background: #fff; border-radius: 15px; padding: 24px; text-align: center; box-shadow: 0 16px 15px -3px #e8eaec; 
-moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
.digital_box img{ max-width: 100% !important; display: inline-block !important; width: auto !important; }
.digital_box b{ font: normal 32px/38px 'BasierCircle-SemiBold'; color:#272727; padding-top: 10px; width: 100%; display: inline-block; }
.digital_box a.lrean_btn{ width: 130px; height: 40px; border-radius: 30px; font: normal 16px/34px 'BasierCircle-SemiBold'; color:#0042b2; border: 2px solid transparent; text-decoration: none; 
text-transform: capitalize; outline: none; margin-top: 25px; display: inline-block; 
-moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;}
.digital_box:hover a.lrean_btn{ border-color:#0042b2; }
.digital_innr .row{ margin: 0 -25px; }
.digital_innr .col-lg-4{ padding: 0 25px; }
.digital_box:hover{ box-shadow: 0 16px 26px -5px #e8eaec; }

.provide_sec{ width: 100%; display: inline-block; padding: 30px 0 0; text-align: center; }
.provide_sec h3{ font: normal 30px/38px 'BasierCircle-SemiBold'; color:#000; }
.provide_sec ul{ display: inline-block; text-align: center; padding: 10px 0 0; }
.provide_sec ul li{ display: inline-block; margin: 10px 0 0 30px; padding-left: 30px; font: 500 20px/30px 'Roboto', sans-serif; color:#515960; background: url(../images/bullet.png) no-repeat left 5px; }
.provide_sec ul li:first-child{ margin-left: 0px; }

.mid_sec{ width: 100%; display: inline-block; padding: 0 0 270px; position: relative; }
.mid_text { width: 100%; display: inline-block; padding-right: 70px;}
.mid_text h2{ font: normal 45px/55px 'BasierCircle-SemiBold'; color:#000; }
.mid_text h2 span{ color:#0042b2; }
.mid_text p{ font: 400 18px/32px 'Roboto', sans-serif; color:#7f8c97; padding-top: 15px; }
.mid_text p b{ font-weight: 700; }
.mid_text ul{ display: inline-block; padding: 10px 0 0; }
.mid_text ul li{ display: inline-block; padding: 12px 0 0; color:#7f8c97; font: 400 18px/32px 'Roboto', sans-serif; padding: 6px; padding-left: 28px; 
background: url(../images/tick.png) no-repeat left 17px; width: 100%; margin-top: 5px; }
.mid_text a{ font: normal 18px/20px 'BasierCircle-Medium'; color:#1c60dd; text-decoration: none; outline: none; text-transform: capitalize; background: url(../images/tick2.png) no-repeat right 3px;
margin-top: 20px; display: inline-block; padding-right: 32px; }
.mid_text a span{ display: inline-block; border-bottom: 1px solid #5487e5; }

.mid_img{ width: 100%; display: inline-block; text-align: center; position: relative; }
.mid_img img{ max-width: 100%; position: relative; }
.mid_img:before{ width: 550px; height: 550px; border-radius: 100%; background: #e5ecf7; border-radius: 100%; position: absolute; left: 50%; top: 50%; content: ""; 
-ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
 	transform: translate(-50%,-50%);
}

.mid_sec .row { align-items: center;}
.mid_sec .row:nth-child(even){flex-direction: row-reverse;}
.mid_sec .row:nth-child(even) .mid_text{ padding-left: 70px; padding-right: 0px; }
.mid_sec .row:nth-child(2) .mid_img:before{ display: none; }

.mid_sec:before{ width: 700px; height: 735px; background: url(../images/bg1.png) no-repeat 0 0; background-size: contain; position: absolute; left: 0px; top: 630px; content: ""; }



.client_sec{ width: 100%; background: #f8fafd; position: relative; padding: 0 0 80px; }
.client_sec:before{ width: 100%; height: 217px; background: url(../images/topbg2.png) no-repeat 0 0; background-size:100% 100%; position: absolute; left: 0; top: -212px; content: ""; }

.customrbox{ width: 100%; background: #fff; padding: 34px; border-radius: 10px; box-shadow: 1px 1px 22px 0px #e7ebf2;}
.customrbox p{ color: #333; font: 400 18px/25px 'Roboto', sans-serif; min-height: 132px;}
.customrbox .media img{ width: 60px !important; height: 60px !important; border-radius: 100%; object-fit:cover; margin-right: 10px;}
.customrbox .media{ margin-top: 27px; align-items: center;}
.customrbox .media h4{ color:#000; font: normal 20px/25px 'BasierCircle-Bold';}
.customrbox .media strong{ color: #8b959e; font: 400 12px/25px 'Roboto', sans-serif;}
.customrcaro{ margin-top: 40px;}
.customrcaro .owl-nav{ display: none;}
.customrcaro .owl-dots .owl-dot{ display: inline-block; padding: 0 4px;}
.customrcaro .owl-dots span{ display: inline-block; width: 10px; height: 10px; background: #becee9; border-radius: 100px;}
.customrcaro .owl-dot.active span{ background: #0042b2;}
.customrcaro .owl-dots{ margin-top: 20px; text-align: center;}
.customrcaro .item{ padding: 15px;}


.maketlr_sec{ width: 100%; padding: 90px 0; background: url(../images/bg2.png) no-repeat right bottom;}
.uniquebox{ width: 100%; text-align: left; box-shadow: 1px 1px 22px 0px #e7ebf2; background: #fff; border-radius: 10px; padding: 25px; min-height: 290px; margin-top: 30px;}
.custmrUnique{ margin-top: 20px;}
.uniquebox img{ max-width: 100%;}
.uniquebox h4{ color: #272727; font: normal 26px/45px 'BasierCircle-SemiBold';}
.uniquebox p{ color: #666666; font: 400 16px/23px 'Roboto', sans-serif; margin-top: 5px;}

.makingcashsec{ width: 100%;background: #f8fafd; position: relative; overflow: hidden;}
.makingcashsec .mid_text{  padding: 90px 0; }
.makingcashsec .mid_img::before {display: none;}
.makingcashsec .row{ flex-direction: row-reverse;}
.makingcashsec .mid_img{ width: 61%;position: absolute; top: 0px; right: 0px; height: 100%;}
.makingcashsec .mid_img img{ height: 100%; object-fit:cover;}


.blubtn{ background: #0042b2 !important; padding: 0 40px !important; height: 55px !important; color: #fff !important; line-height: 55px !important; border-radius: 50px; box-shadow:1px 10px 15px 6px #d5d7d9;}
.blubtn:hover{ background: #000 !important;}





.bluetalersec{ width: 100%; background: #0042b2 url(../images/bl.png) no-repeat right center; padding: 114px 0; text-align: left;}
.bluetalersec h3{ color: #fff;}
.bluetalersec .blubtn{ background: #fff !important; color: #000 !important; box-shadow: none;}
.bluetalersec .blubtn:hover{ background: #000 !important; color: #fff !important;}


.footersec{ width: 100%; background: #000;}
.foottop{ width: 100%; padding: 50px 0;}
.footlogo{ display: inline-block;}
.footlogo img{ max-width: 100%;}
.footsos{ width: 100%; margin-top: 20px; text-align: center;}
.footsos li{ display: inline-block; margin: 0 1px;}
.footsos li a{ width: 28px; height: 28px; background: #0042b2; display: inline-block; border-radius: 100%;}
.footsos li a img{ max-width: 100%;}
.footbox h4{ color: #fff; font: normal 20px/25px 'BasierCircle-Medium'; padding-bottom: 10px;}
.footmenu ul li, .footadres ul li{ display: inline-block; width: 100%; font: 400 16px/23px 'Roboto', sans-serif; padding: 7px 0 7px 13px; position: relative;color: #fff;}
.footmenu ul li a , .footadres ul li a{ color: #fff; }
.footmenu ul li:hover, .footadres ul li:hover a{ color: #0042b2;}
.footmenu ul li:hover a{ color: #0042b2;}
.footmenu ul li:before{ position: absolute; top: 7px; left: 0px; content: "\f101";  font-family: 'FontAwesome';}
.footadres ul li:before{ position: absolute; top: 7px; left: 0px;  font-family: 'FontAwesome';}
.footadres ul li:first-child::before{ content: "\f041";}
.footadres ul li:nth-child(2)::before{ content: "\f095";}
.footadres ul li:nth-child(3)::before{ content:"\f0e0";}
.footadres ul li{ padding-left: 20px;}
.footbottm{ width: 100%; text-align: center;}
.footbottminn{ width: 100%; padding: 20px 0; border-top: 1px solid #212121;}
.footbottm p{ color: #fff; font: 400 16px/23px 'Roboto', sans-serif; }
.footbottm p a{ color: #468afe !important; text-decoration: underline !important;}




/*Tokenization*/


.ban_left p{ color:#596876; font: 300 20px/30px 'Roboto', sans-serif; padding-top:15px; }
.digital_sec.assetsSec .top_heading p{color:#ffffff; font: 400 20px/30px 'Roboto', sans-serif; padding-top:15px; }
.digital_sec.assetsSec:after {  height: 100%; }
.assetsSec .digital_box p{ color:#666666; font: 400 18px/26px 'Roboto', sans-serif; padding-top:15px;}
.assetsSec .digital_box{ box-shadow: inherit !important; min-height: 325px;}
.assetsSec .digital_innr .col-lg-4 { padding: 0 15px;}
.midmobSec .row { padding: 90px 0px 0px; }
.midmobSec .mid_img::before { /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e5ecf7+0,ffffff+100&1+0,0+100 */
background: -moz-linear-gradient(top, rgba(229,236,247,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(229,236,247,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(229,236,247,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5ecf7', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */ width: 650px;
height: 650px; left: inherit;  transform: translate(0%,-50%) !important;  right: -250px; }
.midmobSec{ overflow: hidden; padding-bottom:90px !important; }

.advantagevalueBox{ width:100%; background:url(../images/baluebg.jpg) no-repeat; background-size:cover; padding:160px 0px 90px !important;}
.innadvvaluebox{ width:100%; display:inline-block; text-align:center;}
.innadvvaluebox h2{ font: normal 45px/55px 'BasierCircle-SemiBold';
color: #000;}
.innadvvaluebox p{ color:#596876; font: 300 20px/30px 'Roboto', sans-serif; padding-top:25px;}
.valueBoxes{ width:100%; margin-top:45px; position: relative; }
.valueBox{ width:100%; padding:15px; background:#fff; border-radius: 20px;}
.valueBox img{ width:100%; border-radius: 20px;  }
.valuetxt{ width:100%; display:inline-block; padding:15px;  min-height: 350px;}
.valuetxt h4{ font: normal 36px/46px 'BasierCircle-SemiBold';
color: #000;}
.valuetxt h4 a{ color: #000;}
.valuetxt p{ color:#596876; font: 300 18px/28px 'Roboto', sans-serif; padding-top:15px;}

.valuetxt ul {
    display: inline-block;
    padding: 10px 0 0;
}
.valuetxt ul li {
    display: inline-block;
    padding: 12px 0 0;
    color: #7f8c97;
    font: 400 18px/32px 'Roboto', sans-serif;
    padding: 6px;
        padding-left: 6px;
    padding-left: 28px;
    background: url(../images/tick.png) no-repeat left 17px;
    width: 100%;
    margin-top: 5px;
}

.vs{ width:112px; height:112px; position: absolute; left:50%; bottom:38%; transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);}
.vs img{ width:100%;}



/*electronic-cash*/

.innerbanner{}
.innerbanner .ban_left {  padding-top: 50px; }
.innerban{}
.innerban .ban_rt img { margin-top: 80px; }
.benefitsPanel .digital_box img{ width:100%; border-radius: 20px;}
.benefitsPanel .digital_box b { font-size:38px; line-height: 42px; padding-top: 15px; }
.benefitsPanel .digital_box a.lrean_btn {  border-color: #0042b2; }
.benefitsPanel .digital_box a.lrean_btn:hover{ background:#0042b2; color:#fff;}
.benefitsPanel::after { height: 50% !important; }
.benefitsPanel .digital_box{ box-shadow: 0 16px 15px -3px #e8eaec !important;}

.architectureSec{ width:100%; text-align:center;}
.top_heading h2 span{ color:#0040c0;}
.archiBoxes{ width:100%;}
.archiBoxes img{ width:100%;}
.archiBoxes .blubtn {  height: 50px !important;  display: inline-block;   font: 400 18px/50px 'Roboto', sans-serif !important; }
.mid_SecPanel{padding:90px 0px;}
.bgpanel{ background:url(../images/baluebg.jpg) no-repeat; background-size:cover; padding-top:160px;}
.uniquebox p strong{ color:#596876; }
.bgpanel .uniquebox p{ margin-top:10px;}
.bgpanel .uniquebox {  min-height: 325px; }
.bgpanel .uniquebox h4 { line-height: 32px; margin-top:15px; }








.ban_rt::before, .mid_img::before { background: rgb(240,244,250);
background: linear-gradient(180deg, rgba(240,244,250,1) 0%, rgba(255,255,255,1) 57%);}
.timetham{ width: 100%; background: #fff; padding: 30px 20px; border-left: 3px solid #0042b2; box-shadow: 1px 1px 28px 0px #dce2eb;}
.timetham em{ color: #0042b2; font: normal 14px/20px 'Roboto', sans-serif;}
.timetham h4 {
    color: #272727;
    font: normal 17px/26px 'BasierCircle-Regular';
    margin-top: 4px;
    min-height: 87px;
}
.timetham p{ color: #666666; font: 400 14px/20px 'Roboto', sans-serif; margin-top: 10px;}
.timethamrow{ padding-bottom: 70px;}
.mid_sec::before {top: 31%;}
.bluetalersec .pic img{ max-width: 100%;}
.bluetalersec .pic{ position: absolute; bottom: 0px; right: 0px;}



/*about_us*/
.about_ban .banner_box img{ width: 100%; height: 680px; object-fit: cover; }
.banner_innr{ width: 100%; position: absolute; left: 50%; top: 50%; 
-ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
 	transform: translate(-50%,-50%);
}
.about_ban .ban_left h1{ padding-top: 5px; }
.about_ban .ban_left { padding-top: 0;}
.inner_header{ position: absolute; left: 0px; top: 0px; z-index: 99; }
.nav_top .dropdown .dropdown-menu li a{ font-family: 'BasierCircle-Regular'; }
.nav_top .dropdown .dropdown-menu li{ font-family: 'BasierCircle-Regular'; }

.about_top.digital_sec.assetsSec .top_heading p span{ font-size: 18px; line-height: 30px; } 
.about_top.digital_sec.assetsSec .top_heading p { padding-top: 25px; }
.about_top .digital_innr{ padding-left: 0px; padding-right: 0px; }
.about_top .digital_innr .col-xl-2{ padding: 0 10px; }
.about_top .digital_innr .row{ margin: 0 -10px; }
.about_top .digital_box b{ font-size: 18px; line-height: 24px; }
.about_top .digital_box p{ font-size: 14px; line-height: 20px; }
.about_top.assetsSec .digital_box { min-height: 206px; padding: 18px 12px; }
.about_top{ padding-bottom: 80px; }

.culture_sec{ width: 100%; padding: 80px 0 300px 0; }
.culture_sec .row{ flex-direction: row-reverse;  align-items: center; }
.culture_sec .mid_img::before{ display: none; }
.culture_sec .mid_img img{ border-radius: 10px; width: 100%; box-shadow: 0 0 33px 10px #e3e3e3; }
.culture_sec .mid_text p b{ color:#555e66; }
.culture_sec .mid_text{ padding-left: 20px; }

.team_sec{ width: 100%; position: relative; background: #eff5fb; padding-bottom: 104px; }
.team_box{ width: 100%; position: relative; margin-top: 120px; padding: 100px 40px 30px; text-align: center; background: #fff; border-radius: 15px;
box-shadow: 0 0 12px 4px #dae2e9; min-height: 400px;  }
.team_box h4{ font: normal 28px/32px 'BasierCircle-SemiBold'; color:#272727; }
.team_box h5{ font: normal 18px/20px 'BasierCircle-SemiBold'; color:#0042b2; padding-top: 10px; }
.team_box p{ font: 400 16px/26px 'Roboto', sans-serif; color:#7f8c97; padding-top: 10px; }
.team_box img{ max-width: 100%; width: 150px; position: absolute; left: 50%; top: -75px; margin-left: -75px; height: 150px; border-radius: 100%; }
.team_sec .row{ margin: 0 -40px; }
.team_sec .col-sm-6{ padding: 0 40px; }
.team_sec .innadvvaluebox p { padding-top: 5px; }
.team_sec:after{ width: 100%; position: absolute; left: 0px; top: -249px; background: url(../images/topbg3.png) no-repeat 0 0; background-size: 100% 100%; 
min-height: 249px; content: ""; }
.team_sec .innadvvaluebox { margin-top: -65px; position: relative; z-index: 5;}


.affiliates_sec{ width: 100%; text-align: center; padding: 60px 0; background: #0042b2; }
.affiliates_sec h5{ font: 300 20px/24px 'Roboto', sans-serif; color:#fff; text-transform: uppercase; letter-spacing: 1px; }
.affiliates_sec ul{ display: inline-block; }
.affiliates_sec ul li{ float: left; margin: 30px 0 0 55px;  }
.affiliates_sec ul li:first-child{ margin-left: 0px; }
.affiliates_sec ul li img{ max-width: 100%; }

.join_sec{ width: 100%; padding: 100px 0; }
.join_sec .innadvvaluebox p { padding-top: 5px; }

.avablposipnl { margin-top: 30px; width: 100%; display: inline-block;}
.avalcrrerRow{ width: 100%; background: #fff; padding: 32px; border-radius: 12px; box-shadow: 0 0px 40px 17px #edeef1; text-align: left; margin-top: 20px;}
.avalcrrerRow h4{ color: #01235c; font: normal 22px/26px 'BasierCircle-SemiBold'; }
.avalcrrerRow p{ color: #6a6f78; font: 400 16px/26px 'Roboto', sans-serif; margin-top: 5px;}
.avalcrrerRow ul li{ color: #333333; font: normal 16px/25px 'BasierCircle-SemiBold'; width: 100%; padding: 7px 0;}
.avalcrrerRow ul li img{ max-width: 100%; margin: -8px 5px 0 0;}
.vwdtls{ background: #0042b2; display: inline-block; width: 180px; height: 45px; text-align: center; border-radius: 30px; 
font: normal 16px/45px 'BasierCircle-Bold'; color: #fff !important;box-shadow:0 0px 16px 0px #dadfe4;}
.vwdtls:hover{ background: #09006e;}
.avalcrrerRow .row{ align-items: center;}
.avalcrrerRow .col-md-7 { -ms-flex: 0 0 55%;  flex: 0 0 55%; max-width: 55%;}
.avalcrrerRow .col-md-2 { -ms-flex: 0 0 20%; flex: 0 0 20%; max-width: 20%; }

.cotact_today{ width: 100%; padding: 90px 0; background: #0042b2; }
.cotact_today .innadvvaluebox p { padding-top: 5px; color:#fff; }
.cotact_today .innadvvaluebox h2{ color:#fff; }
.cotact_todayBox{ width: 100%; position: relative; margin-top: 120px; padding: 80px 40px 30px; text-align: center; background: #fff; border-radius: 15px; }
.cotact_todayBox h4{ font: normal 24px/26px 'BasierCircle-SemiBold'; color:#272727; }
.cotact_todayBox p{ font: 400 16px/26px 'Roboto', sans-serif; color:#7f8c97; padding-top: 6px; }
.cotact_todayBox p a{ color:#0042b2; }
.cotact_todayBox img{ max-width: 100%; width: 120px; position: absolute; left: 50%; top: -58px; margin-left: -60px; height: 120px; border-radius: 100%; }
.cotact_todayInnr .row{ margin: 0 -20px; }
.cotact_todayInnr .col-md-4{ padding: 0 20px; }



.makingcashsec .mid_text{ position: relative; z-index: 1;}



/*Insights*/

.insignblogsec{ width: 100%; padding: 70px 0;}
.nobanheader{ box-shadow: 1px 1px 14px 7px #ededed;}
.insitab{ width: 100%; text-align: center; padding: 10px 0; display: inline-block;}
.insitab li{ display: inline-block; padding: 10px;}
.insitab li i{ display: inline-block; width: 37px; height: 37px; background: #0042b2; text-align: center; border-radius: 100%; margin-right: 12px; float: left;}
.insitab li a{ display: inline-block; padding: 8px; border-radius: 30px; background: #f4f7fc; color: #596876; font: normal 18px/35px 'BasierCircle-Medium'; width: 180px;
 text-align: left;}
.insitab li i.fa1{ background-image: url(../images/icona1.png); background-repeat: no-repeat; background-position: center center;}
.insitab li i.fa2{ background-image: url(../images/icona2.png); background-repeat: no-repeat; background-position: center center;}
.insitab li:hover i.fa1, .insitab li.current i.fa1{ background-image: url(../images/icona1h.png); background-repeat: no-repeat; background-position: center center; background-color: #fff;}
.insitab li:hover a, .insitab li.current a{ background: #0042b2; color: #fff;}
.insitab li:hover i.fa2, .insitab li.current i.fa2{ background-image: url(../images/icona2h.png); background-repeat: no-repeat; background-position: center center; background-color: #fff;}


.insignblogtbCont{ width: 100%; padding: 10px 0;}
.insignblogtbCont .uniquebox h6{ color: #333; font: normal 24px/32px 'BasierCircle-SemiBold'; margin-top: 6px;}
.insignblogtbCont .uniquebox em{ font: 400 11px/15px 'Roboto', sans-serif; text-transform: uppercase;}
.insignblogtbCont .uniquebox{ box-shadow: none; border: 1px solid #e4e4e4;}
.insignblogtbCont .uniquebox h4{ color: #0042b2; min-height: 53px;}
.faqSec{ width: 100%; padding: 70px 0; background: #f8fafd; text-align: center;}
#accordion{ text-align: left;}
#accordion .card {
    border: none;
    background: #fff;
    border-radius: 10px !important;
    margin-top: 11px;box-shadow:0px 5px 7px -2px #d5d7d9;
}
#accordion .card .card-header {
    padding: 0px;
    border: none;
}

#accordion .card .card-header a {
    color: #333333;
    font: normal 20px/28px 'BasierCircle-Medium';
    display: inline-block;
    border: none;
    width: 100%;
    padding:20px;
    background: url(../images/araup.png) no-repeat right 20px center;
}
#accordion .card-header{ background: none !important;}
#accordion .card .card-body {
    padding-top: 0px !important;
    padding: 20px;
    color: #7f8c97;
    font: 400 16px/24px 'Roboto', sans-serif;
}
#accordion .card .card-header a.collapsed {
    background: url(../images/ara.png) no-repeat right 20px center;
}
#accordion .card .card-body p{ margin-bottom: 10px;}
.top_heading p{ color: #7f8c97; font: 400 18px/23px 'Roboto', sans-serif; margin-top: 10px;}
.innfaqSec{ width: 100%; margin-top: 30px;}


.faqSec .blubtn{ color: #0042b2 !important; border: 2px solid #0042b2 !important; background: none !important; display: inline-block; font: normal 16px/32px 'BasierCircle-SemiBold'; margin-top: 40px; line-height: 51px !important; box-shadow: none;}
.faqSec .blubtn:hover{ background:#0042b2 !important; color: #fff !important;}


.publicationsec{ width: 100%; background: #0042b2; padding: 70px 0; text-align: center;}
.publicationsec .top_heading p, .publicationsec .top_heading h2{ color: #fff;}
.publicationsec .avalcrrerRow{ box-shadow: none; padding: 24px; border-left:3px solid #b1c5e7;  background-image: linear-gradient(to bottom, #ffffff, #fcfcfc, #f9f8f9, #f5f5f7, #f2f2f4);}
.avalcrrerRow p span{ color: #0042b2;}
.avalcrrerRow .vwdtls span{ background-image: url(../images/pdf.png); background-repeat: no-repeat; background-position: left center; display: inline-block; padding-left:27px;}
.publicationsec .avalcrrerRow .vwdtls{ width: 230px;}


.publicationsec .blubtn{ color: #fff !important; border: 2px solid #fff !important; background: none !important; display: inline-block; font: normal 16px/32px 'BasierCircle-SemiBold'; margin-top: 40px; line-height: 51px !important; box-shadow: none;}
.publicationsec .blubtn:hover{ background:#fff !important; color: #0042b2 !important;}


.latestnewsec{ width: 100%; padding: 70px 0;}
.latestncont{ width: 100%; margin-top: 10px;}
.latsBox{ width: 100%; position: relative; margin-top: 30px; border-radius: 10px;}
.latsBox img{ width: 100%;}
.latsBox .text{ position: absolute; bottom: 0px; padding: 25px; left: 0px; width: 100%;}
.latsBox em{ color: #2b79fe; text-transform: uppercase; font: 400 11px/16px 'Roboto', sans-serif; text-transform: uppercase; font-style: normal;}
.latsBox h4{ color: #fff; font: normal 20px/25px 'BasierCircle-SemiBold'; margin-top: 6px;}
.latsBox h4 a{ color: #fff !important;}
.bigpoic:before{ width: 100%; position: absolute; bottom: 0px; left: 0px; background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0.1) 72%); content: "";height: 100%;}
.latsBox.bigpoic{ overflow: hidden;}
.latsBox.media{ background: #f5f8fd;}
.latsBox .text.media-body{ position: inherit; bottom: inherit; left: inherit;}
.latsBox .text.media-body h4 a{ color: #333333 !important;}
.latsBox .text.media-body em{ color: #0042b2;}
.latsBox p{ color: #75808a; font: 400 14px/21px 'Roboto', sans-serif; margin-top: 10px;}
.latsBox.bigpoic img{ min-height: 510px; object-fit:cover;}
.insignblogtbCont{ display: none;}




/*26.6.2021*/
.laguswch{ position: absolute; right: 0px; top: 0px;}
.laguswch a{font: normal 16px/20px 'BasierCircle-Regular'; color: #596876; padding: 10px 0 !important;}
.trigger:before{ content: "\f107"; font-family: FontAwesome;}
.newheader .menu_sec {
    padding: 0 29px 0 0;
    margin: 0;
}
.newbanner .ban_rt::before, .midnew_img::before {
    background: rgb(240,244,250);
    background: linear-gradient(180deg, rgba(240,244,250,1) 0%, rgba(255,255,255,1) 57%);
}
.newbanner .ban_rt::before {
    width: 450px;
    height: 450px;
    border-radius: 100%;
    border-radius: 100%;
    position: absolute;
    right: 0;
    top: 0px;
    content: ""; margin: 0px !important; left: inherit !important; 
}
.newbanner .banner_box {
    width: 100%;
    position: relative;
    padding-bottom: 12px;
    min-height: 675px;
}




.nedigital_innr{ width: 100%; display: inline-block; position: relative; z-index: 99; padding: 40px 0px 0; }
.nedigital_box{ width: 100%; display: inline-block; background: #fff; border-radius: 15px; padding: 24px; text-align: center;
-moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
.nedigital_box img{ max-width: 100% !important; display: inline-block !important; width: auto !important; }
.nedigital_box b{ font: normal 26px/38px 'BasierCircle-SemiBold'; color:#272727; padding-top: 10px; width: 100%; display: inline-block; }
.nedigital_box p{ color: #666666; font:normal 18px/25px 'Roboto', sans-serif; margin-top: 10px;}

.nedigital_box a.lrean_btn{ width: 130px; height: 40px; border-radius: 30px; font: normal 16px/34px 'BasierCircle-SemiBold'; color:#0042b2; border: 2px solid transparent; text-decoration: none; 
text-transform: capitalize; outline: none; margin-top: 25px; display: inline-block; 
-moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;}
.nedigital_box:hover a.lrean_btn{ border-color:#0042b2; }
.nedigital_box:hover{ box-shadow: 0 16px 26px -5px #e8eaec; }
.nedigital_sec{ width: 100%; position: relative; padding:51px 0 71px 0; background: #0042b2;}
.nedigital_sec:before{ width: 100%; height: 188px; background: url(../images/topbg.png) no-repeat 0 0; background-size:100% 100%; position: absolute; left: 0; top: -188px; content: ""; }
.nedigital_sec .top_heading h2, .nedigital_sec .top_heading p{ color:#fff; }



.midnew_sec{ width: 100%; display: inline-block; padding:0 0 120px; position: relative; }
.midnewrowa{ padding-top: 115px;}
.midnew_text { width: 100%; display: inline-block; padding-right: 70px;}
.midnew_text h2{ font: normal 45px/55px 'BasierCircle-SemiBold'; color:#000; }
.midnew_text h2 span{ color:#0042b2; }
.midnew_text p{ font: 400 18px/32px 'Roboto', sans-serif; color:#7f8c97; padding-top: 15px; }
.midnew_text p b{ font-weight: 700; }
.midnew_text ul{ display: inline-block; padding: 10px 0 0; }
.midnew_text ul li{ display: inline-block; padding: 12px 0 0; color:#63727f; font: 500 18px/32px 'Roboto', sans-serif; padding: 6px; padding-left: 28px; 
background: url(../images/tick.png) no-repeat left 17px; width: 100%; margin-top: 5px; }
.midnew_text a{ font: normal 18px/20px 'BasierCircle-Medium'; color:#1c60dd; text-decoration: none; outline: none; text-transform: capitalize; background: url(../images/tick2.png) no-repeat right 3px;
margin-top: 20px; display: inline-block; padding-right: 32px; }
.midnew_text a span{ display: inline-block; border-bottom: 1px solid #5487e5; }

.midnew_img{ width: 100%; display: inline-block; text-align: center; position: relative; }
.midnew_img img{ max-width: 100%; position: relative; border-radius: 10px; box-shadow:-4px 1px 9px 3px #e0e2e6;}
.midnew_img:before{ width: 550px; height: 550px; border-radius: 100%; background: #e5ecf7; border-radius: 100%; position: absolute; left:63%; top: 63%; content: ""; 
-ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
 	transform: translate(-50%,-50%);
}

.midnew_sec .row { align-items: center;}
.midnew_sec .row:nth-child(even){flex-direction: row-reverse;}
.midnew_sec .row:nth-child(even) .mid_text{ padding-left: 70px; padding-right: 0px; }
.midnew_sec .row:nth-child(2) .mid_img:before{ display: none; }
.midnew_sec .row:nth-child(2) .midnew_img::before {
    display: none;
}
.midnew_sec:before{ width: 700px; height: 735px; background: url(../images/bg1.png) no-repeat 0 0; background-size: contain; position: absolute; left: 0px; top: 630px; content: ""; }
.newbanner .ban_rt::before, .midnew_img::before {
    background: rgb(240,244,250);
    background: linear-gradient(180deg, rgba(240,244,250,1) 0%, rgba(255,255,255,1) 57%);
}
.advantagevalueBox .valuetxt {
    width: 100%;
    display: inline-block;
    padding: 15px;
    min-height: 524px;
}


.blubtn{ background: #0042b2 !important; padding: 0 40px !important; height: 55px !important; color: #fff !important; line-height: 55px !important; border-radius: 50px; box-shadow:1px 10px 15px 6px #d5d7d9;}
.blubtn:hover{ background: #000 !important;}





.bluetalersecnew{ width: 100%; background: #0042b2 url(../images/b1n.png) no-repeat right bottom; padding: 114px 0; text-align: left;}
.bluetalersecnew h3{ color: #fff;}
.bluetalersecnew .blubtn{ background: #fff !important; color: #000 !important; box-shadow: none;}
.bluetalersecnew .blubtn:hover{ background: #000 !important; color: #fff !important;}

.blwhbox{ background: #fff; padding: 25px; border-radius: 20px;}
.blwhbox h3{ color: #272727 !important; font: normal 30px/41px 'BasierCircle-SemiBold'; display: inline-block;}
.bluetalersec .blwhbox .blubtn {
    background: #0042b2 !important;
    color: #fff !important;
    box-shadow: none;padding: 0 26px !important;
height: 48px !important; line-height: 48px !important; margin: 0px;
}
.bluetalersecnew .scwhitboxnew{ width: 100%; background: #fff; padding: 20px; border-radius: 20px;}
.bluetalersecnew .scwhitboxnew .boxsnew{ background: #7ca3c6; padding: 30px 20px; border-radius: 20px; position: relative;}
.bluetalersecnew .scwhitboxnew p{ font: 500 18px/29px 'Roboto', sans-serif; text-transform: uppercase; color: #fff;}
.plsa{ position: absolute; right: 20px; bottom: 10px;}
.plsa img{ max-width: 100%;}
.blwhbox,.scwhitboxnew{ min-height: 272px;}

.bluetalersecnew .blwhbox .blubtn {
    background: #0042b2 !important;
    color: #fff !important;
    box-shadow: none;
    padding: 0 26px !important;
    height: 48px !important;
    line-height: 48px !important;
    margin: 0px;
}

.swlg{ width: 100%; margin-top: 10px; text-align: center;}
.swlg img{ max-width: 100%;}
























@media (min-width: 768px) and (max-width: 5000px) {
.nav_top .dropdown .dropdown-menu { /*-webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s;
    -o-transition: all 0.3s;transition: all 0.3s;*/ max-height: 0; display: block; opacity: 0;visibility: hidden;  margin:0px; 
    width: 230px; padding: 0px; background: #fff; max-height: 600px;
   border-radius: 0; left: 0; right: inherit; transform: translate(0, 10px);
transition: opacity 200ms ease-in, transform 200ms ease-in, visibility 200ms ease-in;  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175); box-shadow: 0 6px 12px rgba(0,0,0,.175);}

.nav_top .dropdown:hover .dropdown-menu {  opacity: 1; visibility: visible; height: auto; transform: translate(0,0); }



}

@media (min-width: 1400px) and (max-width: 1899px) {
	
.innerban .ban_left h1 { font-size:48px; }	
	
}




@media (min-width: 1200px) and (max-width: 1399px) {

.container {max-width: 1170px;}

.ban_left h1{ font-size: 40px; line-height: 50px;}
.ban_left h3{ font-size: 20px; line-height: 28px;}
.digital_box b{ font-size: 23px; line-height: 31px;}
.provide_sec h3{ font-size: 24px; line-height: 35px;}
.provide_sec ul li{ font-size: 17px;}
.mid_text h2{ font-size: 30px; line-height: 45px;}
.top_heading h1, .top_heading h2, .top_heading h3{ font-size: 40px; line-height: 50px;}
.customrbox p{ font-size: 16px;}
.client_sec::before {height: 160px; top: -160px;}
.uniquebox h4{ font-size: 20px;}


/*Tokenization*/

.valueBoxes .row .col-sm-6:first-child{ padding-right:30px !important;}
.valueBoxes .row .col-sm-6:last-child{ padding-left:30px !important;}
.ban_left p { font-size:18px; line-height: 26px; }
.assetsSec .digital_box p { font-size:16px; line-height: 25px; }
.innadvvaluebox h2 { font-size:30px; line-height: 45px; }
.innadvvaluebox p { font-size:18px; }
.valuetxt h4 { font-size:28px; line-height: 38px; }
.valuetxt p { font-size:16px; line-height:24px; }
.valuetxt ul li { font-size:16px; line-height: 28px; }


/*electronic-cash*/
.benefitsPanel .digital_box b {  font-size: 32px;  line-height: 38px; }
.mid_SecPanel {  padding: 60px 0px; }
.mid_text ul li { line-height: 26px; }
.bgpanel .uniquebox p { font-size:14px; line-height: 20px; }
.bgpanel .uniquebox {  min-height: 290px; }


/*about_us*/
.about_top .digital_box b {  font-size: 16px;  line-height: 18px; }
.assetsSec .digital_box p { font-size: 15px; line-height: 21px; padding-top: 8px;}
.team_sec::after { top: -170px; min-height: 170px;}
.team_box {  padding: 90px 30px 25px;}
.affiliates_sec { padding: 50px 0;}
.culture_sec {  padding: 80px 0 250px 0;}


.latsBox h4{ font-size: 17px; line-height: 23px;}

.blwhbox h3 {
    font-size: 25px;
    line-height: 42px;
}
.midnew_text h2{ font-size: 30px; line-height: 45px;}

}

@media (min-width: 992px) and (max-width: 1199px) {

.container {max-width: 960px;}

.ban_left h1 { font-size: 28px; line-height: 39px;}
.ban_left h3{ font-size: 20px; line-height: 28px;}
.digital_box b {
    font-size: 17px;
    line-height: 23px;
}
.provide_sec h3{ font-size: 24px; line-height: 35px;}
.provide_sec ul li {
    font-size: 14px;margin: 10px 0 0 11px;
}
.mid_text h2{ font-size: 30px; line-height: 45px;}
.top_heading h1, .top_heading h2, .top_heading h3{ font-size: 33px; line-height: 40px;}
.customrbox p{ font-size: 16px;}
.client_sec::before {height: 120px; top: -120px;}
.uniquebox h4{ font-size: 20px;}

.ban_rt::before { width: 500px; height: 500px;}
.digital_sec::before {height: 140px; top: -140px;} 
.digital_sec{ padding: 50px 0;}
.digital_box{ padding: 19px;}
.mid_img::before {width: 400px; height: 400px;}
.mid_sec{padding: 0 0 197px;}

.custmrUnique .col-md-3 {
    -ms-flex: 0 0 33.333%;
    flex: 0 0 33.333%;
    max-width: 33.333%;
}
.mid_text ul li{ font-size: 15px; line-height: 27px;}
.bluetalersec{ background-size: 279px;padding: 60px 0;}

/*Tokenization*/

.valueBoxes .row .col-sm-6:first-child{ padding-right:30px !important;}
.valueBoxes .row .col-sm-6:last-child{ padding-left:30px !important;}
.ban_left p {  font-size: 16px;   line-height: 24px; }
.assetsSec .digital_box p {  font-size: 14px;  line-height: 22px; }
.innadvvaluebox h2 { font-size:30px; line-height: 45px; }
.innadvvaluebox p { font-size:18px; }
.valuetxt h4 { font-size:22px; line-height: 30px; }
.valuetxt p { font-size:14px; line-height:24px; }
.valuetxt ul li { font-size:14px; line-height: 24px; }
.digital_sec.assetsSec .top_heading p {font-size:16px; line-height: 26px; }
.assetsSec .digital_box { min-height: 305px; }
.midmobSec .row {  padding: 60px 0px 0px; }
.vs {  width: 85px;  height: 85px; }


/*electronic-cash*/ 
.benefitsPanel .digital_box b {  font-size: 28px;  line-height: 32px; }
.mid_SecPanel {  padding: 60px 0px; }
.mid_text ul li { line-height: 26px; }
.bgpanel .uniquebox p { font-size:14px; line-height: 20px; }
.bgpanel .uniquebox {  min-height: 290px; }
.bgpanel .uniquebox h4 {  line-height: 24px; }

.valuetxt { min-height: 370px; }


/*about_us*/
.avalcrrerRow p br{ display: none;}
.avalcrrerRow p{ font-size: 15px;}
.avalcrrerRow ul li{ font-size: 14px;}
.vwdtls{ font-size: 15px; width: 180px;}


.about_top .digital_box b {  font-size: 16px;  line-height: 18px; }
.assetsSec .digital_box p { font-size: 15px; line-height: 21px; padding-top: 8px;}
.team_sec::after { top: -170px; min-height: 170px;}
.team_box {  padding: 68px 25px 25px; margin-top: 80px;  min-height: 372px; }
.affiliates_sec { padding: 40px 0;}
.about_ban .banner_box img { height: 510px; }
.about_top.assetsSec .digital_box { min-height: 182px; padding: 18px 12px; margin-top: 20px;}
.culture_sec { padding: 60px 0 208px 0;}
.culture_sec .row {  align-items: start;}
.culture_sec .mid_text { padding-left: 0; padding-right: 0;}
.team_box img { width: 100px; left: 50%; top: -48px; margin-left: -50px;  height: 100px;}
.team_box h4{ font-size: 22px; line-height: 26px; }
.team_box h5{ font-size: 16px; line-height: 17px; padding-top: 7px; }
.team_box p{ font-size: 15px; line-height: 24px; }
.team_sec .col-sm-6 { padding: 0 15px;}
.team_sec .row { margin: 0 -15px;}
.valueBoxes { margin-top: 20px;}
.team_sec { padding-bottom: 60px;}
.affiliates_sec ul li { margin: 24px 0 0 40px; }
.join_sec{ padding: 60px 0; }
.avalcrrerRow { padding: 25px;}
.cotact_today{ padding: 60px 0; }
.cotact_todayBox img {  width: 90px; left: 50%; top: -45px; margin-left: -45px; height: auto;}
.cotact_todayBox { margin-top: 80px; padding:  60px 20px 20px;}
.cotact_todayBox h4{ font-size: 20px; line-height: 24px; }
.cotact_todayBox p{ font-size: 15px; line-height: 22px; }
.cotact_todayInnr .col-md-4 { padding: 0 15px;}
.cotact_todayInnr .row { margin: 0 -15px;}


#accordion .card .card-header a{ font-size: 17px; line-height: 26px;}
#accordion .card .card-body{ font-size: 14px; line-height: 22px;}
.latestncont .col-lg-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.latsBox.bigpoic img {
    min-height: auto;
    object-fit: cover;
}
.publicationsec .avalcrrerRow .vwdtls {
    width: auto; padding: 0 30px;
}
.insignblogtbCont .uniquebox h6{ font-size: 18px; line-height: 26px;}
#accordion .card .card-header a{ font-size: 17px; line-height: 20px; padding-right: 30px;}

/*26.6.2021*/
.nedigital_box b{ font-size: 19px; line-height: 27px;}
.nedigital_box p{ font-size: 15px; line-height: 21px;}
.midnew_text h2{ font-size: 30px; line-height: 45px;}

.midnew_img::before {
    width: 350px;
    height: 350px;
}

}

 
@media (min-width: 768px) and (max-width: 991px) {

.container {max-width: 100%;}

.ban_left h1 { font-size: 23px; line-height: 32px;}
.ban_left h3{ font-size: 20px; line-height: 28px;}
.digital_box b {
    font-size: 17px;
    line-height: 23px;
}
.ban_left a.demo_btn {
    width: 156px;
    height: 45px;
    font-size: 16px;
    line-height: 46px;
}
.digital_innr .row{ margin: 0 -15px;}
.digital_innr .col-lg-4{ padding: 0 15px;}
.digital_sec::after{height: 297px;}
.maketlr_sec{ background-size: 200px; padding: 60px 0;}


.provide_sec h3{ font-size: 24px; line-height: 35px;}
.provide_sec ul li {
    font-size: 14px;margin: 10px 0 0 11px;
}
.mid_text h2 {
    font-size: 23px;
    line-height: 38px;
}
.top_heading h1, .top_heading h2, .top_heading h3 {
    font-size: 27px;
    line-height: 33px;
}
.customrbox p{ font-size: 16px;}
.client_sec::before {height: 120px; top: -120px;}
.uniquebox h4{ font-size: 20px;}
.mid_text p{ font-size: 16px; line-height: 27px;}
.mid_text a{ font-size: 14px;}
.mid_img img {
    max-width: 58%;
    position: relative;
}
.mid_sec .row:nth-child(2n) .mid_text {
    padding-left: 0;
    padding-right: 0px;
}
.ban_rt::before { width: 400px; height: 400px;}
.digital_sec::before {height: 140px; top: -140px;} 
.digital_sec{ padding: 50px 0;}
.digital_box{ padding: 19px;}
.mid_img::before {width: 350px; height: 350px;}
.mid_sec{padding: 0 0 197px;}
.mid_sec .row:nth-child(2n) {
    flex-direction: row-reverse;
    margin-top: 30px;
}
.mid_text{ padding-right: 0px;}


.custmrUnique .col-md-3 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.mid_text ul li{ font-size: 15px; line-height: 27px;}
.bluetalersec{ background-size: 279px;padding: 60px 0;}
.digital_sec::before {
    height: 81px;
    top: -81px;
}
.digital_innr{ padding: 40px 28px 0;}

.menu_sec li{ font-size: 15px;margin: 0 0 0 13px;}

.menu_sec {
    padding: 0 147px 0 0;
    margin: 0;
}
.header_sec a.sign_btn {
    width: 113px;
    height: 42px;
    background-position: left 13px center !important;
    line-height: 42px;padding-left: 39px;
}
.nav_top .navbar-brand{ width: 112px;}

.makingcashsec .mid_img img{ max-width: 100%;}
.makingcashsec .mid_text {
    padding: 47px 0;
}

.footbox h4{ font-size: 17px; line-height: 22px;}
.footmenu ul li, .footadres ul li{ font-size: 13px; line-height: 21px;}


/*Tokenization*/

.valueBoxes .row .col-sm-6:first-child{ padding-right:30px !important;}
.valueBoxes .row .col-sm-6:last-child{ padding-left:30px !important;}
.ban_left p {  font-size: 15px;  line-height: 20px;  padding-top: 10px; }
.assetsSec .digital_box p {  font-size: 14px;  line-height: 22px; }
.innadvvaluebox h2 { font-size: 26px;  line-height: 34px; }
.innadvvaluebox p {  font-size: 15px;  line-height: 24px;  padding-top: 10px; }
.valuetxt h4 {  font-size: 20px;  line-height: 26px; }
.valuetxt p {  font-size: 14px;  line-height: 22px;  padding-top: 10px; }
.valuetxt ul li { font-size:14px; line-height: 24px; }
.digital_sec.assetsSec .top_heading p {font-size:16px; line-height: 26px; }
.assetsSec .digital_box { min-height: 305px; }
.midmobSec .row {  padding: 60px 0px 0px; }
.vs {  width: 85px;  height: 85px; }
.innerbanner .ban_left h1 {  line-height: 28px; }
.valuetxt { padding: 10px; }
.valuetxt ul { padding: 0px 0 0; }
.valuetxt ul li {  margin-top: 0px; }

/*electronic-cash*/ 
.benefitsPanel .digital_box b {  font-size: 24px; line-height: 28px; }
.mid_SecPanel {  padding: 60px 0px; }
.mid_text ul li { line-height: 26px; }
.bgpanel .uniquebox p { font-size:14px; line-height: 20px; }
.bgpanel .uniquebox {  min-height: 290px; }
.bgpanel .uniquebox h4 {  line-height: 24px; }
.bgpanel .uniquebox h4 { line-height: 20px;  font-size: 16px; }




.valuetxt { min-height: 390px; }

/*about*/
.avalcrrerRow p br{ display: none;}
.avalcrrerRow p{ font-size: 15px;}
.avalcrrerRow ul li{ font-size: 14px;}
.vwdtls{ font-size: 15px; width: 180px;}
.avalcrrerRow .col-md-7 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%;}
.avalcrrerRow .col-md-2, .avalcrrerRow .col-md-3 { -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; margin-top:10px; }


.about_top .digital_box b {  font-size: 16px;  line-height: 18px; }
.assetsSec .digital_box p { font-size: 15px; line-height: 21px; padding-top: 8px;}
.team_sec::after { top: -170px; min-height: 170px;}
.team_box {  padding: 66px 20px 20px; margin-top: 80px;  min-height: 372px; }
.affiliates_sec { padding: 40px 0;}
.about_ban .banner_box img { height: 450px; }
.ban_left p br{ display: none; }
.about_top.assetsSec .digital_box { min-height: 182px; padding: 18px 12px; margin-top: 20px;}
.culture_sec { padding: 40px 0 120px 0;}
.culture_sec .row {  align-items: start;}
.culture_sec .mid_text { padding-left: 0; padding-right: 0;}
.team_box img { width: 100px; left: 50%; top: -48px; margin-left: -50px;  height: 100px;}
.team_box h4{ font-size: 22px; line-height: 26px; }
.team_box h5{ font-size: 16px; line-height: 17px; padding-top: 7px; }
.team_box p{ font-size: 15px; line-height: 24px; }
.team_sec .col-sm-6 { padding: 0 15px;}
.team_sec .row { margin: 0 -15px;}
.valueBoxes { margin-top: 20px;}
.team_sec { padding-bottom: 60px;}
.affiliates_sec ul li { margin: 20px 0 0 10px; width: 26%; float: none;  display: inline-block;}
.join_sec{ padding: 40px 0; }
.avalcrrerRow { padding: 25px;}
.cotact_today{ padding: 40px 0; }
.cotact_todayBox img {  width: 70px;  left: 50%; top: -35px; margin-left: -35px;  height: auto;}
.cotact_todayBox { margin-top: 50px; padding: 43px 15px 15px;}
.cotact_todayBox h4 { font-size: 18px;  line-height: 22px;}
.cotact_todayBox p {  font-size: 14px;  line-height: 22px;}
.culture_sec .mid_img img{ width: 100%; max-width: 100%; }
.team_sec::after {  top: -80px; min-height: 80px;}
.team_sec .innadvvaluebox { margin-top: 0;}
.cotact_todayBox p br{ display: none; }
.avablposipnl {  margin-top: 20px;}
.cotact_todayInnr .col-md-4 {  padding: 0 15px;}
.cotact_todayInnr .row {  margin: 0 -15px;}
.about_top.digital_sec.assetsSec .top_heading p br{ display: none; }




/*26.6.2021*/
.nedigital_box b{ font-size: 19px; line-height: 27px;}
.nedigital_box p{ font-size: 15px; line-height: 21px;}
.midnew_text h2 {
    font-size: 23px;
    line-height: 38px;
}
.newbanner .banner_box{min-height: 567px;}
.nedigital_box b {
    font-size: 17px;
    line-height: 24px;
}
.midnewrowa {
    padding-top: 58px;
}
.midnew_sec{ padding-bottom: 0px;}
.midnew_img::before { left: inherit; right: 0px;}


}
@media only screen and (max-width: 991px){
.innerban .ban_rt img {
    margin-top: 10px;
}

#accordion .card .card-header a{ font-size: 17px; line-height: 26px;}
#accordion .card .card-body{ font-size: 14px; line-height: 22px;}
.latestncont .col-lg-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.latsBox.bigpoic img {
    min-height: auto;
    object-fit: cover;
}
.publicationsec .avalcrrerRow .vwdtls {
    width: auto; padding: 0 30px;
}
.insignblogtbCont .uniquebox h6{ font-size: 18px; line-height: 26px;}
#accordion .card .card-header a{ font-size: 17px; line-height: 20px; padding-right: 30px;}

.insignblogsec, .faqSec, .latestnewsec, .publicationsec{ padding: 40px 0;}
.publicationsec .avalcrrerRow .vwdtls{ margin-top: 10px;}


.midnew_img::before {
    width: 350px;
    height: 350px;
}


}
@media only screen and (max-width: 767px){
.container{ max-width: 100%; }



.nav_top .navbar-toggler{ border-color: #383e40; background: #383e40;}
.nav_top .navbar-toggler{ padding: 10px; margin-right: 0;}
.nav_top .navbar-toggler .icon-bar {display: block;width: 22px;height: 2px;  border-radius: 1px; background-color: #fff;}
.nav_top .navbar-toggler .icon-bar + .icon-bar {  margin-top: 4px;}
.navbar-toggler .icon-bar { display: block;  width: 22px;  height: 2px;  border-radius: 1px;  background-color: #fff;}
.navbar-toggler { margin-right: 15px;}
.navbar-toggler { padding: 10px;}

.nav_top .navbar-toggler {border: none;background: none; margin: 0;}
.nav_top .navbar-toggler.showtoggle .icon-bar:nth-child(1) {-ms-transform: matrix(1, -1, 0, 1, 0, 0); transform: matrix(1, -1, 0, 1, 0, 0); 
	 -webkit-transform: matrix(1, -1, 0, 1, 0, 0); width: 25px;}
.nav_top .navbar-toggler.showtoggle .icon-bar:nth-child(2) { opacity: 0;  width: 0px;}  
.nav_top .navbar-toggler.showtoggle .icon-bar:nth-child(3) {-ms-transform: matrix(1, 1, 0, 1, 0, 0); transform: matrix(1, 1, 0, 1, 0, 0); -webkit-transform: matrix(1, 1, 0, 1, 0, 0);
width: 25px;  margin-top: -11px;} 
.nav_top .navbar-toggler .icon-bar { display: block; width: 30px; height: 2px; border-radius: 3px; background-color: #000; opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0); -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out;}
.nav_top .navbar-toggler { width: 45px; height: 40px; text-align: center; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; border-radius: 0px;
    border: 0px solid transparent; border-top-color: transparent;border-right-color: transparent;    border-bottom-color: transparent;
        border-left-color: transparent; position: relative; border: none; outline: none; }
.nav_top .navbar-toggler {padding: 5px 8px;}
.nav_top .navbar-toggler .icon-bar + .icon-bar {margin-top: 8px;}
.nav_top .navbar-toggler.showtoggle {padding-left: 10px !important;}





.container {max-width: 100%;}

.ban_left h1 { font-size: 23px; line-height: 32px;}
.ban_left h3{ font-size: 20px; line-height: 28px;}
.digital_box b {
    font-size: 17px;
    line-height: 23px;
}
.ban_left a.demo_btn {
    width: 156px;
    height: 45px;
    font-size: 16px;
    line-height: 46px;
}
.digital_innr .row{ margin: 0 -15px;}
.digital_innr .col-lg-4{ padding: 0 15px;}
.digital_sec::after{height: 297px;}
.maketlr_sec{ background-size: 200px; padding: 60px 0;}


.provide_sec h3{ font-size: 24px; line-height: 35px;}
.provide_sec ul li {
    font-size: 14px;margin: 10px 0 0 11px;
}
.mid_text h2 {
    font-size: 23px;
    line-height: 38px;
}
.top_heading h1, .top_heading h2, .top_heading h3 {
    font-size: 27px;
    line-height: 33px;
}
.customrbox p{ font-size: 16px;}
.owl-loaded .customrbox p{min-height: 151px;}
.client_sec::before {height: 120px; top: -120px;}
.uniquebox h4{ font-size: 20px;}
.mid_text p{ font-size: 16px; line-height: 27px;}
.mid_text a{ font-size: 14px;}
.mid_img img {
    max-width: 58%;
    position: relative;
}
.mid_sec .row:nth-child(2n) .mid_text {
    padding-left: 0;
    padding-right: 0px;
}
.ban_rt::before { width: 400px; height: 400px;}
.digital_sec::before {height: 140px; top: -140px;} 
.digital_sec{ padding: 50px 0;}
.digital_box{ padding: 19px;}
.mid_img::before {width: 350px; height: 350px;}
.mid_sec{padding: 0 0 197px;}
.mid_sec .row:nth-child(2n) {
    flex-direction: row-reverse;
    margin-top: 30px;
}
.mid_text{ padding-right: 0px;}


.custmrUnique .col-md-3 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.mid_text ul li{ font-size: 15px; line-height: 27px;}
.bluetalersec{ background-size: 279px;padding: 60px 0;}
.digital_sec::before {
    height: 81px;
    top: -81px;
}
.digital_innr{ padding: 40px 28px 0;}

.menu_sec li{ font-size: 15px;margin: 0 0 0 13px;}

.menu_sec {
    padding: 0;
    margin: 0;
}
.header_sec a.sign_btn {
    width: 113px;
    height: 42px;
    background-position: left 13px center !important;
    line-height: 42px;padding-left: 39px;
}
.nav_top .navbar-brand{ width: 112px;}

.makingcashsec .mid_img img{ max-width: 100%;}
.makingcashsec .mid_text {
    padding: 47px 0;
}

.footbox h4{ font-size: 17px; line-height: 22px;}
.footmenu ul li, .footadres ul li{ font-size: 14px; line-height: 21px;}



.nav_top .navbar-toggler{margin-right: 121px;}
.header_sec a.sign_btn{ top: 1px;}
.navbar-collapse{ width: 100%; position: absolute; top: 100%; left: 0px; background: #fff; z-index: 111;}

.menu_sec li{ margin: 0px !important;text-align: left;}

.banner_box .col-sm-7, .banner_box .col-sm-5 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.ban_rt::before { margin-left: -200px;}
.ban_rt img {
    max-width: 51%;
}	
.digital_sec {
    padding: 40px 0;
    margin-top: -28px;
}	
.momelecte .item{ padding: 33px;}
.momelecte .owl-prev{ width: 35px; height: 35px; background: #fff url(../images/a1.png) no-repeat center center; border-radius: 100%; font-size: 0px; position: absolute; top: 50%; left: -20px;-ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); box-shadow: 0 16px 15px -3px #e8eaec; border: 1px solid #e8e5f3;}
.momelecte .owl-next{ width: 35px; height: 35px; background: #fff url(../images/a2.png) no-repeat center center; border-radius: 100%; font-size: 0px; position: absolute; top: 50%; right: -20px;-ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); box-shadow: 0 16px 15px -3px #e8eaec; border: 1px solid #e8e5f3;}	
.momelecte .owl-prev:hover{ background: #0a1931 url(../images/a4.png) no-repeat center center; border-color: #0a1931;}	
.momelecte .owl-next:hover{ background: #0a1931 url(../images/a3.png) no-repeat center center; border-color: #0a1931;}	

.mid_sec .col-sm-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.mid_img img {
    max-width: 200px;
    position: relative;
}
.mid_img{ margin-top: 20px;}
.mid_sec::before {display: none;}

.mid_sec .row:nth-child(2) .mid_img::before {
    display: inherit;
}
.mid_text ul{ width: 100%;}

.makingcashsec .col-sm-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.makingcashsec .mid_img{ width: 100%; position: inherit; top: inherit; left: inherit;}
.footbox { margin-top: 20px;}
.makingcashsec .mid_text {
    padding: 46px 0 0;
}

.customrbox .media h4{ font-size: 16px;}
.customrbox{ padding: 15px;}

/*Tokenization*/

.valueBoxes .row .col-sm-6:first-child{ padding-right:30px !important;}
.valueBoxes .row .col-sm-6:last-child{ padding-left:30px !important;}
.ban_left p {  font-size: 15px;  line-height: 20px;  padding-top: 10px; }
.assetsSec .digital_box p {  font-size: 14px;  line-height: 22px; }
.innadvvaluebox h2 { font-size: 26px;  line-height: 34px; }
.innadvvaluebox p {  font-size: 15px;  line-height: 24px;  padding-top: 10px; }
.valuetxt h4 {  font-size: 20px;  line-height: 26px; }
.valuetxt p {  font-size: 14px;  line-height: 22px;  padding-top: 10px; }
.valuetxt ul li { font-size:14px; line-height: 24px; }
.digital_sec.assetsSec .top_heading p {font-size:16px; line-height: 26px; }
.assetsSec .digital_box {  min-height: auto; }
.midmobSec .row {  padding: 60px 0px 0px; }
.vs {  width: 85px;  height: 85px; bottom: 42%; display:none; }
.innerbanner .ban_left h1 {  line-height: 28px; }
.valuetxt { padding: 10px; min-height: inherit; }
.valuetxt ul { padding: 0px 0 0; }
.valuetxt ul li {  margin-top: 0px; }
.digital_sec.assetsSec .top_heading p br{ display:none;}
.assetsSec .momelecte .owl-prev { box-shadow: 0 3px 15px -3px #e8eaec; }
.assetsSec .momelecte .owl-next {box-shadow: 0 3px 15px -3px #e8eaec; }
.midmobSec .row {  padding: 30px 0px 0px; }
.midmobSec .row:last-child{ padding-top:0px;}
.midmobSec {  padding-bottom: 80px !important; }
.advantagevalueBox {  padding: 145px 0px 50px !important; } 
.valueBoxes .row .col-sm-6:first-child {  padding-right: 15px !important;  flex: 0 0 100%;  max-width: 100%; }
.valueBoxes .row .col-sm-6:last-child {  padding-left: 15px !important;  flex: 0 0 100%;  max-width: 100%;  margin-top: 30px; }



/*electronic-cash*/ 
.benefitsPanel .digital_box b {  font-size: 20px; line-height: 24px; }
.mid_SecPanel {  padding: 60px 0px; }
.mid_text ul li { line-height: 26px; }
.bgpanel .uniquebox p { font-size:14px; line-height: 20px; }
.bgpanel .uniquebox {  min-height: 290px; }
.bgpanel .uniquebox h4 {  line-height: 24px; }
.bgpanel .uniquebox h4 { line-height: 20px;  font-size: 16px; }

/*about*/
.avalcrrerRow p br{ display: none;}
.avalcrrerRow p{ font-size: 15px;}
.avalcrrerRow ul li{ font-size: 14px;}
.vwdtls{ font-size: 15px; width: 180px;}
.avalcrrerRow .col-md-7 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%;}
.avalcrrerRow .col-md-2, .avalcrrerRow .col-md-3 { -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; margin-top:10px; }



.about_top .digital_box b {  font-size: 16px;  line-height: 18px; }
.assetsSec .digital_box p { font-size: 15px; line-height: 21px; padding-top: 8px;}
.team_sec::after { top: -170px; min-height: 170px;}
.team_box {  padding: 66px 20px 20px; margin-top: 80px;  min-height: 372px; }
.affiliates_sec { padding: 40px 0;}
.about_ban .banner_box img { height: 400px; }
.about_top.assetsSec .digital_box { min-height: 182px; padding: 18px 12px; margin-top: 20px;}
.culture_sec { padding: 40px 0 120px 0;}
.culture_sec .row {  align-items: start;}
.culture_sec .mid_text { padding-left: 0; padding-right: 0;}
.team_box img { width: 100px; left: 50%; top: -48px; margin-left: -50px;  height: 100px;}
.team_box h4 {  font-size: 18px; line-height: 22px;}
.team_box h5{ font-size: 14px; line-height: 17px; padding-top: 7px; }
.team_box p{ font-size: 15px; line-height: 24px; }
.team_sec .col-sm-6 { padding: 0 15px;}
.team_sec .row { margin: 0 -15px;}
.valueBoxes { margin-top: 20px;}
.team_sec { padding-bottom: 40px;}
.affiliates_sec ul li { margin: 20px 0 0 10px; width: 120px; float: none;  display: inline-block;}
.join_sec{ padding: 40px 0; }
.avalcrrerRow { padding: 25px;}
.cotact_today{ padding: 40px 0; }
.cotact_todayBox img {  width: 70px;  left: 50%; top: -35px; margin-left: -35px;  height: auto;}
.cotact_todayBox { margin-top: 50px; padding: 43px 15px 15px;}
.cotact_todayBox h4 { font-size: 18px;  line-height: 22px;}
.cotact_todayBox p {  font-size: 14px;  line-height: 22px;}
.culture_sec .mid_img img{ width: 100%; max-width: 100%; }
.team_sec::after {  top: -80px; min-height: 80px;}
.team_sec .innadvvaluebox { margin-top: 0;}
.cotact_todayBox p br{ display: none; }
.avablposipnl {  margin-top: 20px;}
.cotact_todayInnr .col-md-4 {  padding: 0 15px;}
.cotact_todayInnr .row {  margin: 0 -15px;}
.about_top.digital_sec.assetsSec .top_heading p br{ display: none; } 
.momelecte .owl-next{ right: -7px; }
.momelecte .owl-prev{ left: -7px; }
.about_top.digital_sec.assetsSec .top_heading p span { font-size: 15px; line-height: 24px; }



.innfaqSec .col-sm-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}



.midnew_text h2 {
    font-size: 23px;
    line-height: 38px;
}
.midnew_sec .col-sm-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.midnew_img img {
    max-width: 100%;
    position: relative;
}



.bluetalersecnew .col-sm-5, .bluetalersecnew .col-sm-7, .bluetalersecnew .col-sm-11 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.blwhbox, .scwhitboxnew {
    min-height: auto;
    margin: 20px 0;
}
.blwhbox h3 {
    font-size: 20px;
    line-height: 28px;
}


.midnew_img img{ margin-top:20px; }
.midnew_img::before {display: none;}
.midnewrowa {
    padding-top: 45px;
}
.midnew_text{ padding-right: 0;}
.advantagevalueBox {
    padding: 145px 0px 50px !important;
}
.midnew_sec {
    padding: 0;
}
.advantagevalueBox .valuetxt{ min-height: auto;}
.bluetalersecnew{ padding: 40px 0;}
.midnew_text.blwhbox{ padding: 20px;}
.laguswch {
    position: absolute !important;
    right: 43px;
    top: 10px;
}
.newheader .nav_top .navbar-toggler {
    margin-right: 0;
}
.newheader .nav_top .navbar-toggler {
    position: absolute;
    top: 9px;
    right: 0px;
}
.nedigital_sec{ padding: 38px 0 35px 0;}
.midnew_sec::before {
    width: 100%;}


.nedigital_box b {
    font-size: 17px;
    line-height: 24px;
}
.nedigital_box p{ font-size: 15px;}



}



@media only screen and (max-width: 575px){
.container{ max-width: 100%; }

.top_heading h1 br, .top_heading h2 br, .top_heading h3 br{ display: none; }
.welcome_content h4 { padding: 7px 0; margin-top: 13px; font-size: 13.5px; text-align: center;}

.client_sec{ padding-bottom: 50px;}

.custmrUnique .col-md-3 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.uniquebox{ min-height: auto;}
.blubtn {
    padding: 0 31px !important;
    height: 50px !important;
    color: #fff !important;
    line-height: 50px !important;
    border-radius: 50px;
    box-shadow: 1px 10px 15px 6px #d5d7d9;
}
.digital_sec{ margin: 0px;}


.bluetalersec {
    background-size: 205px;
    padding: 60px 0; background-position: right bottom;
}

.footlogo img {
    max-width: 164px;
}
.foottop .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}


/*Tokenization*/
.midmobSec .mid_img::before { z-index: -1; }
.midmobSec {  padding-bottom: 15px !important; } 
.advantagevalueBox {   padding: 30px 0px 30px !important; }



/*electronic-cash*/ 
.benefitsPanel::after {  height: 100% !important; }
.benefitsPanel .digital_innr .row .col-sm-6:last-child{ margin-top:50px;}
.bgpanel .uniquebox {  min-height: inherit; }

.bluetalersec .pic {
    position: inherit;
    bottom: inherit;
    right: inherit;
}

/*about*/
.avalcrrerRow h4{ font-size: 19px; line-height: 24px;}

.team_box{ min-height: inherit; }
.ban_left p br{ display: none; }
.about_ban .banner_box img {  height: 350px;}



.latsBox.media{ display: inline-block; border-radius: 10px;}
.latsBox img{ border-radius: 10px;}









}

@media only screen and (max-width: 500px){



.ban_rt::before {
    width: 300px;
    height: 300px; margin-left: -150px;
}
.mid_img::before {width: 300px;
    height: 300px;}


.bluetalersec {
    background-size: 155px;
    padding: 60px 0;
    background-position: right bottom;
}

/*about*/
.avalcrrerRow .col-md-2, .avalcrrerRow .col-md-3 {  -ms-flex: 0 0 100%; flex: 0 0 100%;  max-width: 100%; margin-top: 10px; text-align:left;}
.vwdtls { font-size: 15px; width: 140px; height: auto; line-height: 40px;}


}


@media only screen and (max-width: 400px){


.provide_sec h3 {
    font-size: 20px;
    line-height: 30px;
}
.digital_innr {
    padding: 40px 20px 0;
}

.header_sec a.sign_btn {
    width: 95px;
    height: 40px;
    background-position: left 13px center !important;
    line-height: 39px;
    padding-left: 35px; font-size: 14px;
}
.nav_top .navbar-toggler {
    margin-right: 99px;
}
.nav_top .navbar-brand {
    width: 99px;
}
.ban_rt::before {
    width: 240px;
    height: 240px;
    margin-left: -120px;
}
.digital_innr {
    padding: 9px 20px 0;
}
.top_heading h1, .top_heading h2, .top_heading h3 {
    font-size: 23px;
    line-height: 33px;
}
.mid_img::before {
    width: 240px;
    height: 240px;
}

.foottop .col-sm-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}














}

