<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="UTF-8"/>
    <!-- <title>{{ _("Taler Systems SA") }}</title> -->
    <meta name="description" content="{{ _('Taler payment system') }}" />
    {% include "common/header.j2.inc" %}
    {% block head_content %}{% endblock %}
  </head>
  <body>
  <div id="page-container">
   <div id="content-wrap">
    <div class="toolbar">
     {% include "common/navigation.j2.inc" %}
    </div>
    <div class="content">
    {% block body_content %}{% endblock %}
    </div>
    <footer id="footer">
    {% include "common/footer.j2.inc" %}
    </footer>
   </div>
   </div>
  </body>
</html>
